<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>的</string>
	<string>一</string>
	<string>是</string>
	<string>在</string>
	<string>不</string>
	<string>了</string>
	<string>有</string>
	<string>和</string>
	<string>人</string>
	<string>这</string>
	<string>中</string>
	<string>大</string>
	<string>为</string>
	<string>上</string>
	<string>个</string>
	<string>国</string>
	<string>我</string>
	<string>以</string>
	<string>要</string>
	<string>他</string>
	<string>时</string>
	<string>来</string>
	<string>用</string>
	<string>们</string>
	<string>生</string>
	<string>到</string>
	<string>作</string>
	<string>地</string>
	<string>于</string>
	<string>出</string>
	<string>就</string>
	<string>分</string>
	<string>对</string>
	<string>成</string>
	<string>会</string>
	<string>可</string>
	<string>主</string>
	<string>发</string>
	<string>年</string>
	<string>动</string>
	<string>同</string>
	<string>工</string>
	<string>也</string>
	<string>能</string>
	<string>下</string>
	<string>过</string>
	<string>子</string>
	<string>说</string>
	<string>产</string>
	<string>种</string>
	<string>面</string>
	<string>而</string>
	<string>方</string>
	<string>后</string>
	<string>多</string>
	<string>定</string>
	<string>行</string>
	<string>学</string>
	<string>法</string>
	<string>所</string>
	<string>民</string>
	<string>得</string>
	<string>经</string>
	<string>十</string>
	<string>三</string>
	<string>之</string>
	<string>进</string>
	<string>着</string>
	<string>等</string>
	<string>部</string>
	<string>度</string>
	<string>家</string>
	<string>电</string>
	<string>力</string>
	<string>里</string>
	<string>如</string>
	<string>水</string>
	<string>化</string>
	<string>高</string>
	<string>自</string>
	<string>二</string>
	<string>理</string>
	<string>起</string>
	<string>小</string>
	<string>物</string>
	<string>现</string>
	<string>实</string>
	<string>加</string>
	<string>量</string>
	<string>都</string>
	<string>两</string>
	<string>体</string>
	<string>制</string>
	<string>机</string>
	<string>当</string>
	<string>使</string>
	<string>点</string>
	<string>从</string>
	<string>业</string>
	<string>本</string>
	<string>去</string>
	<string>把</string>
	<string>性</string>
	<string>好</string>
	<string>应</string>
	<string>开</string>
	<string>它</string>
	<string>合</string>
	<string>还</string>
	<string>因</string>
	<string>由</string>
	<string>其</string>
	<string>些</string>
	<string>然</string>
	<string>前</string>
	<string>外</string>
	<string>天</string>
	<string>政</string>
	<string>四</string>
	<string>日</string>
	<string>那</string>
	<string>社</string>
	<string>义</string>
	<string>事</string>
	<string>平</string>
	<string>形</string>
	<string>相</string>
	<string>全</string>
	<string>表</string>
	<string>间</string>
	<string>样</string>
	<string>与</string>
	<string>关</string>
	<string>各</string>
	<string>重</string>
	<string>新</string>
	<string>线</string>
	<string>内</string>
	<string>数</string>
	<string>正</string>
	<string>心</string>
	<string>反</string>
	<string>你</string>
	<string>明</string>
	<string>看</string>
	<string>原</string>
	<string>又</string>
	<string>么</string>
	<string>利</string>
	<string>比</string>
	<string>或</string>
	<string>但</string>
	<string>质</string>
	<string>气</string>
	<string>第</string>
	<string>向</string>
	<string>道</string>
	<string>命</string>
	<string>此</string>
	<string>变</string>
	<string>条</string>
	<string>只</string>
	<string>没</string>
	<string>结</string>
	<string>解</string>
	<string>问</string>
	<string>意</string>
	<string>建</string>
	<string>月</string>
	<string>公</string>
	<string>无</string>
	<string>系</string>
	<string>军</string>
	<string>很</string>
	<string>情</string>
	<string>者</string>
	<string>最</string>
	<string>立</string>
	<string>代</string>
	<string>想</string>
	<string>已</string>
	<string>通</string>
	<string>并</string>
	<string>提</string>
	<string>直</string>
	<string>题</string>
	<string>党</string>
	<string>程</string>
	<string>展</string>
	<string>五</string>
	<string>果</string>
	<string>料</string>
	<string>象</string>
	<string>员</string>
	<string>革</string>
	<string>位</string>
	<string>入</string>
	<string>常</string>
	<string>文</string>
	<string>总</string>
	<string>次</string>
	<string>品</string>
	<string>式</string>
	<string>活</string>
	<string>设</string>
	<string>及</string>
	<string>管</string>
	<string>特</string>
	<string>件</string>
	<string>长</string>
	<string>求</string>
	<string>老</string>
	<string>头</string>
	<string>基</string>
	<string>资</string>
	<string>边</string>
	<string>流</string>
	<string>路</string>
	<string>级</string>
	<string>少</string>
	<string>图</string>
	<string>山</string>
	<string>统</string>
	<string>接</string>
	<string>知</string>
	<string>较</string>
	<string>将</string>
	<string>组</string>
	<string>见</string>
	<string>计</string>
	<string>别</string>
	<string>她</string>
	<string>手</string>
	<string>角</string>
	<string>期</string>
	<string>根</string>
	<string>论</string>
	<string>运</string>
	<string>农</string>
	<string>指</string>
	<string>几</string>
	<string>九</string>
	<string>区</string>
	<string>强</string>
	<string>放</string>
	<string>决</string>
	<string>西</string>
	<string>被</string>
	<string>干</string>
	<string>做</string>
	<string>必</string>
	<string>战</string>
	<string>先</string>
	<string>回</string>
	<string>则</string>
	<string>任</string>
	<string>取</string>
	<string>据</string>
	<string>处</string>
	<string>队</string>
	<string>南</string>
	<string>给</string>
	<string>色</string>
	<string>光</string>
	<string>门</string>
	<string>即</string>
	<string>保</string>
	<string>治</string>
	<string>北</string>
	<string>造</string>
	<string>百</string>
	<string>规</string>
	<string>热</string>
	<string>领</string>
	<string>七</string>
	<string>海</string>
	<string>口</string>
	<string>东</string>
	<string>导</string>
	<string>器</string>
	<string>压</string>
	<string>志</string>
	<string>世</string>
	<string>金</string>
	<string>增</string>
	<string>争</string>
	<string>济</string>
	<string>阶</string>
	<string>油</string>
	<string>思</string>
	<string>术</string>
	<string>极</string>
	<string>交</string>
	<string>受</string>
	<string>联</string>
	<string>什</string>
	<string>认</string>
	<string>六</string>
	<string>共</string>
	<string>权</string>
	<string>收</string>
	<string>证</string>
	<string>改</string>
	<string>清</string>
	<string>美</string>
	<string>再</string>
	<string>采</string>
	<string>转</string>
	<string>更</string>
	<string>单</string>
	<string>风</string>
	<string>切</string>
	<string>打</string>
	<string>白</string>
	<string>教</string>
	<string>速</string>
	<string>花</string>
	<string>带</string>
	<string>安</string>
	<string>场</string>
	<string>身</string>
	<string>车</string>
	<string>例</string>
	<string>真</string>
	<string>务</string>
	<string>具</string>
	<string>万</string>
	<string>每</string>
	<string>目</string>
	<string>至</string>
	<string>达</string>
	<string>走</string>
	<string>积</string>
	<string>示</string>
	<string>议</string>
	<string>声</string>
	<string>报</string>
	<string>斗</string>
	<string>完</string>
	<string>类</string>
	<string>八</string>
	<string>离</string>
	<string>华</string>
	<string>名</string>
	<string>确</string>
	<string>才</string>
	<string>科</string>
	<string>张</string>
	<string>信</string>
	<string>马</string>
	<string>节</string>
	<string>话</string>
	<string>米</string>
	<string>整</string>
	<string>空</string>
	<string>元</string>
	<string>况</string>
	<string>今</string>
	<string>集</string>
	<string>温</string>
	<string>传</string>
	<string>土</string>
	<string>许</string>
	<string>步</string>
	<string>群</string>
	<string>广</string>
	<string>石</string>
	<string>记</string>
	<string>需</string>
	<string>段</string>
	<string>研</string>
	<string>界</string>
	<string>拉</string>
	<string>林</string>
	<string>律</string>
	<string>叫</string>
	<string>且</string>
	<string>究</string>
	<string>观</string>
	<string>越</string>
	<string>织</string>
	<string>装</string>
	<string>影</string>
	<string>算</string>
	<string>低</string>
	<string>持</string>
	<string>音</string>
	<string>众</string>
	<string>书</string>
	<string>布</string>
	<string>复</string>
	<string>容</string>
	<string>儿</string>
	<string>须</string>
	<string>际</string>
	<string>商</string>
	<string>非</string>
	<string>验</string>
	<string>连</string>
	<string>断</string>
	<string>深</string>
	<string>难</string>
	<string>近</string>
	<string>矿</string>
	<string>千</string>
	<string>周</string>
	<string>委</string>
	<string>素</string>
	<string>技</string>
	<string>备</string>
	<string>半</string>
	<string>办</string>
	<string>青</string>
	<string>省</string>
	<string>列</string>
	<string>习</string>
	<string>响</string>
	<string>约</string>
	<string>支</string>
	<string>般</string>
	<string>史</string>
	<string>感</string>
	<string>劳</string>
	<string>便</string>
	<string>团</string>
	<string>往</string>
	<string>酸</string>
	<string>历</string>
	<string>市</string>
	<string>克</string>
	<string>何</string>
	<string>除</string>
	<string>消</string>
	<string>构</string>
	<string>府</string>
	<string>称</string>
	<string>太</string>
	<string>准</string>
	<string>精</string>
	<string>值</string>
	<string>号</string>
	<string>率</string>
	<string>族</string>
	<string>维</string>
	<string>划</string>
	<string>选</string>
	<string>标</string>
	<string>写</string>
	<string>存</string>
	<string>候</string>
	<string>毛</string>
	<string>亲</string>
	<string>快</string>
	<string>效</string>
	<string>斯</string>
	<string>院</string>
	<string>查</string>
	<string>江</string>
	<string>型</string>
	<string>眼</string>
	<string>王</string>
	<string>按</string>
	<string>格</string>
	<string>养</string>
	<string>易</string>
	<string>置</string>
	<string>派</string>
	<string>层</string>
	<string>片</string>
	<string>始</string>
	<string>却</string>
	<string>专</string>
	<string>状</string>
	<string>育</string>
	<string>厂</string>
	<string>京</string>
	<string>识</string>
	<string>适</string>
	<string>属</string>
	<string>圆</string>
	<string>包</string>
	<string>火</string>
	<string>住</string>
	<string>调</string>
	<string>满</string>
	<string>县</string>
	<string>局</string>
	<string>照</string>
	<string>参</string>
	<string>红</string>
	<string>细</string>
	<string>引</string>
	<string>听</string>
	<string>该</string>
	<string>铁</string>
	<string>价</string>
	<string>严</string>
	<string>首</string>
	<string>底</string>
	<string>液</string>
	<string>官</string>
	<string>德</string>
	<string>随</string>
	<string>病</string>
	<string>苏</string>
	<string>失</string>
	<string>尔</string>
	<string>死</string>
	<string>讲</string>
	<string>配</string>
	<string>女</string>
	<string>黄</string>
	<string>推</string>
	<string>显</string>
	<string>谈</string>
	<string>罪</string>
	<string>神</string>
	<string>艺</string>
	<string>呢</string>
	<string>席</string>
	<string>含</string>
	<string>企</string>
	<string>望</string>
	<string>密</string>
	<string>批</string>
	<string>营</string>
	<string>项</string>
	<string>防</string>
	<string>举</string>
	<string>球</string>
	<string>英</string>
	<string>氧</string>
	<string>势</string>
	<string>告</string>
	<string>李</string>
	<string>台</string>
	<string>落</string>
	<string>木</string>
	<string>帮</string>
	<string>轮</string>
	<string>破</string>
	<string>亚</string>
	<string>师</string>
	<string>围</string>
	<string>注</string>
	<string>远</string>
	<string>字</string>
	<string>材</string>
	<string>排</string>
	<string>供</string>
	<string>河</string>
	<string>态</string>
	<string>封</string>
	<string>另</string>
	<string>施</string>
	<string>减</string>
	<string>树</string>
	<string>溶</string>
	<string>怎</string>
	<string>止</string>
	<string>案</string>
	<string>言</string>
	<string>士</string>
	<string>均</string>
	<string>武</string>
	<string>固</string>
	<string>叶</string>
	<string>鱼</string>
	<string>波</string>
	<string>视</string>
	<string>仅</string>
	<string>费</string>
	<string>紧</string>
	<string>爱</string>
	<string>左</string>
	<string>章</string>
	<string>早</string>
	<string>朝</string>
	<string>害</string>
	<string>续</string>
	<string>轻</string>
	<string>服</string>
	<string>试</string>
	<string>食</string>
	<string>充</string>
	<string>兵</string>
	<string>源</string>
	<string>判</string>
	<string>护</string>
	<string>司</string>
	<string>足</string>
	<string>某</string>
	<string>练</string>
	<string>差</string>
	<string>致</string>
	<string>板</string>
	<string>田</string>
	<string>降</string>
	<string>黑</string>
	<string>犯</string>
	<string>负</string>
	<string>击</string>
	<string>范</string>
	<string>继</string>
	<string>兴</string>
	<string>似</string>
	<string>余</string>
	<string>坚</string>
	<string>曲</string>
	<string>输</string>
	<string>修</string>
	<string>故</string>
	<string>城</string>
	<string>夫</string>
	<string>够</string>
	<string>送</string>
	<string>笔</string>
	<string>船</string>
	<string>占</string>
	<string>右</string>
	<string>财</string>
	<string>吃</string>
	<string>富</string>
	<string>春</string>
	<string>职</string>
	<string>觉</string>
	<string>汉</string>
	<string>画</string>
	<string>功</string>
	<string>巴</string>
	<string>跟</string>
	<string>虽</string>
	<string>杂</string>
	<string>飞</string>
	<string>检</string>
	<string>吸</string>
	<string>助</string>
	<string>升</string>
	<string>阳</string>
	<string>互</string>
	<string>初</string>
	<string>创</string>
	<string>抗</string>
	<string>考</string>
	<string>投</string>
	<string>坏</string>
	<string>策</string>
	<string>古</string>
	<string>径</string>
	<string>换</string>
	<string>未</string>
	<string>跑</string>
	<string>留</string>
	<string>钢</string>
	<string>曾</string>
	<string>端</string>
	<string>责</string>
	<string>站</string>
	<string>简</string>
	<string>述</string>
	<string>钱</string>
	<string>副</string>
	<string>尽</string>
	<string>帝</string>
	<string>射</string>
	<string>草</string>
	<string>冲</string>
	<string>承</string>
	<string>独</string>
	<string>令</string>
	<string>限</string>
	<string>阿</string>
	<string>宣</string>
	<string>环</string>
	<string>双</string>
	<string>请</string>
	<string>超</string>
	<string>微</string>
	<string>让</string>
	<string>控</string>
	<string>州</string>
	<string>良</string>
	<string>轴</string>
	<string>找</string>
	<string>否</string>
	<string>纪</string>
	<string>益</string>
	<string>依</string>
	<string>优</string>
	<string>顶</string>
	<string>础</string>
	<string>载</string>
	<string>倒</string>
	<string>房</string>
	<string>突</string>
	<string>坐</string>
	<string>粉</string>
	<string>敌</string>
	<string>略</string>
	<string>客</string>
	<string>袁</string>
	<string>冷</string>
	<string>胜</string>
	<string>绝</string>
	<string>析</string>
	<string>块</string>
	<string>剂</string>
	<string>测</string>
	<string>丝</string>
	<string>协</string>
	<string>诉</string>
	<string>念</string>
	<string>陈</string>
	<string>仍</string>
	<string>罗</string>
	<string>盐</string>
	<string>友</string>
	<string>洋</string>
	<string>错</string>
	<string>苦</string>
	<string>夜</string>
	<string>刑</string>
	<string>移</string>
	<string>频</string>
	<string>逐</string>
	<string>靠</string>
	<string>混</string>
	<string>母</string>
	<string>短</string>
	<string>皮</string>
	<string>终</string>
	<string>聚</string>
	<string>汽</string>
	<string>村</string>
	<string>云</string>
	<string>哪</string>
	<string>既</string>
	<string>距</string>
	<string>卫</string>
	<string>停</string>
	<string>烈</string>
	<string>央</string>
	<string>察</string>
	<string>烧</string>
	<string>迅</string>
	<string>境</string>
	<string>若</string>
	<string>印</string>
	<string>洲</string>
	<string>刻</string>
	<string>括</string>
	<string>激</string>
	<string>孔</string>
	<string>搞</string>
	<string>甚</string>
	<string>室</string>
	<string>待</string>
	<string>核</string>
	<string>校</string>
	<string>散</string>
	<string>侵</string>
	<string>吧</string>
	<string>甲</string>
	<string>游</string>
	<string>久</string>
	<string>菜</string>
	<string>味</string>
	<string>旧</string>
	<string>模</string>
	<string>湖</string>
	<string>货</string>
	<string>损</string>
	<string>预</string>
	<string>阻</string>
	<string>毫</string>
	<string>普</string>
	<string>稳</string>
	<string>乙</string>
	<string>妈</string>
	<string>植</string>
	<string>息</string>
	<string>扩</string>
	<string>银</string>
	<string>语</string>
	<string>挥</string>
	<string>酒</string>
	<string>守</string>
	<string>拿</string>
	<string>序</string>
	<string>纸</string>
	<string>医</string>
	<string>缺</string>
	<string>雨</string>
	<string>吗</string>
	<string>针</string>
	<string>刘</string>
	<string>啊</string>
	<string>急</string>
	<string>唱</string>
	<string>误</string>
	<string>训</string>
	<string>愿</string>
	<string>审</string>
	<string>附</string>
	<string>获</string>
	<string>茶</string>
	<string>鲜</string>
	<string>粮</string>
	<string>斤</string>
	<string>孩</string>
	<string>脱</string>
	<string>硫</string>
	<string>肥</string>
	<string>善</string>
	<string>龙</string>
	<string>演</string>
	<string>父</string>
	<string>渐</string>
	<string>血</string>
	<string>欢</string>
	<string>械</string>
	<string>掌</string>
	<string>歌</string>
	<string>沙</string>
	<string>刚</string>
	<string>攻</string>
	<string>谓</string>
	<string>盾</string>
	<string>讨</string>
	<string>晚</string>
	<string>粒</string>
	<string>乱</string>
	<string>燃</string>
	<string>矛</string>
	<string>乎</string>
	<string>杀</string>
	<string>药</string>
	<string>宁</string>
	<string>鲁</string>
	<string>贵</string>
	<string>钟</string>
	<string>煤</string>
	<string>读</string>
	<string>班</string>
	<string>伯</string>
	<string>香</string>
	<string>介</string>
	<string>迫</string>
	<string>句</string>
	<string>丰</string>
	<string>培</string>
	<string>握</string>
	<string>兰</string>
	<string>担</string>
	<string>弦</string>
	<string>蛋</string>
	<string>沉</string>
	<string>假</string>
	<string>穿</string>
	<string>执</string>
	<string>答</string>
	<string>乐</string>
	<string>谁</string>
	<string>顺</string>
	<string>烟</string>
	<string>缩</string>
	<string>征</string>
	<string>脸</string>
	<string>喜</string>
	<string>松</string>
	<string>脚</string>
	<string>困</string>
	<string>异</string>
	<string>免</string>
	<string>背</string>
	<string>星</string>
	<string>福</string>
	<string>买</string>
	<string>染</string>
	<string>井</string>
	<string>概</string>
	<string>慢</string>
	<string>怕</string>
	<string>磁</string>
	<string>倍</string>
	<string>祖</string>
	<string>皇</string>
	<string>促</string>
	<string>静</string>
	<string>补</string>
	<string>评</string>
	<string>翻</string>
	<string>肉</string>
	<string>践</string>
	<string>尼</string>
	<string>衣</string>
	<string>宽</string>
	<string>扬</string>
	<string>棉</string>
	<string>希</string>
	<string>伤</string>
	<string>操</string>
	<string>垂</string>
	<string>秋</string>
	<string>宜</string>
	<string>氢</string>
	<string>套</string>
	<string>督</string>
	<string>振</string>
	<string>架</string>
	<string>亮</string>
	<string>末</string>
	<string>宪</string>
	<string>庆</string>
	<string>编</string>
	<string>牛</string>
	<string>触</string>
	<string>映</string>
	<string>雷</string>
	<string>销</string>
	<string>诗</string>
	<string>座</string>
	<string>居</string>
	<string>抓</string>
	<string>裂</string>
	<string>胞</string>
	<string>呼</string>
	<string>娘</string>
	<string>景</string>
	<string>威</string>
	<string>绿</string>
	<string>晶</string>
	<string>厚</string>
	<string>盟</string>
	<string>衡</string>
	<string>鸡</string>
	<string>孙</string>
	<string>延</string>
	<string>危</string>
	<string>胶</string>
	<string>屋</string>
	<string>乡</string>
	<string>临</string>
	<string>陆</string>
	<string>顾</string>
	<string>掉</string>
	<string>呀</string>
	<string>灯</string>
	<string>岁</string>
	<string>措</string>
	<string>束</string>
	<string>耐</string>
	<string>剧</string>
	<string>玉</string>
	<string>赵</string>
	<string>跳</string>
	<string>哥</string>
	<string>季</string>
	<string>课</string>
	<string>凯</string>
	<string>胡</string>
	<string>额</string>
	<string>款</string>
	<string>绍</string>
	<string>卷</string>
	<string>齐</string>
	<string>伟</string>
	<string>蒸</string>
	<string>殖</string>
	<string>永</string>
	<string>宗</string>
	<string>苗</string>
	<string>川</string>
	<string>炉</string>
	<string>岩</string>
	<string>弱</string>
	<string>零</string>
	<string>杨</string>
	<string>奏</string>
	<string>沿</string>
	<string>露</string>
	<string>杆</string>
	<string>探</string>
	<string>滑</string>
	<string>镇</string>
	<string>饭</string>
	<string>浓</string>
	<string>航</string>
	<string>怀</string>
	<string>赶</string>
	<string>库</string>
	<string>夺</string>
	<string>伊</string>
	<string>灵</string>
	<string>税</string>
	<string>途</string>
	<string>灭</string>
	<string>赛</string>
	<string>归</string>
	<string>召</string>
	<string>鼓</string>
	<string>播</string>
	<string>盘</string>
	<string>裁</string>
	<string>险</string>
	<string>康</string>
	<string>唯</string>
	<string>录</string>
	<string>菌</string>
	<string>纯</string>
	<string>借</string>
	<string>糖</string>
	<string>盖</string>
	<string>横</string>
	<string>符</string>
	<string>私</string>
	<string>努</string>
	<string>堂</string>
	<string>域</string>
	<string>枪</string>
	<string>润</string>
	<string>幅</string>
	<string>哈</string>
	<string>竟</string>
	<string>熟</string>
	<string>虫</string>
	<string>泽</string>
	<string>脑</string>
	<string>壤</string>
	<string>碳</string>
	<string>欧</string>
	<string>遍</string>
	<string>侧</string>
	<string>寨</string>
	<string>敢</string>
	<string>彻</string>
	<string>虑</string>
	<string>斜</string>
	<string>薄</string>
	<string>庭</string>
	<string>纳</string>
	<string>弹</string>
	<string>饲</string>
	<string>伸</string>
	<string>折</string>
	<string>麦</string>
	<string>湿</string>
	<string>暗</string>
	<string>荷</string>
	<string>瓦</string>
	<string>塞</string>
	<string>床</string>
	<string>筑</string>
	<string>恶</string>
	<string>户</string>
	<string>访</string>
	<string>塔</string>
	<string>奇</string>
	<string>透</string>
	<string>梁</string>
	<string>刀</string>
	<string>旋</string>
	<string>迹</string>
	<string>卡</string>
	<string>氯</string>
	<string>遇</string>
	<string>份</string>
	<string>毒</string>
	<string>泥</string>
	<string>退</string>
	<string>洗</string>
	<string>摆</string>
	<string>灰</string>
	<string>彩</string>
	<string>卖</string>
	<string>耗</string>
	<string>夏</string>
	<string>择</string>
	<string>忙</string>
	<string>铜</string>
	<string>献</string>
	<string>硬</string>
	<string>予</string>
	<string>繁</string>
	<string>圈</string>
	<string>雪</string>
	<string>函</string>
	<string>亦</string>
	<string>抽</string>
	<string>篇</string>
	<string>阵</string>
	<string>阴</string>
	<string>丁</string>
	<string>尺</string>
	<string>追</string>
	<string>堆</string>
	<string>雄</string>
	<string>迎</string>
	<string>泛</string>
	<string>爸</string>
	<string>楼</string>
	<string>避</string>
	<string>谋</string>
	<string>吨</string>
	<string>野</string>
	<string>猪</string>
	<string>旗</string>
	<string>累</string>
	<string>偏</string>
	<string>典</string>
	<string>馆</string>
	<string>索</string>
	<string>秦</string>
	<string>脂</string>
	<string>潮</string>
	<string>爷</string>
	<string>豆</string>
	<string>忽</string>
	<string>托</string>
	<string>惊</string>
	<string>塑</string>
	<string>遗</string>
	<string>愈</string>
	<string>朱</string>
	<string>替</string>
	<string>纤</string>
	<string>粗</string>
	<string>倾</string>
	<string>尚</string>
	<string>痛</string>
	<string>楚</string>
	<string>谢</string>
	<string>奋</string>
	<string>购</string>
	<string>磨</string>
	<string>君</string>
	<string>池</string>
	<string>旁</string>
	<string>碎</string>
	<string>骨</string>
	<string>监</string>
	<string>捕</string>
	<string>弟</string>
	<string>暴</string>
	<string>割</string>
	<string>贯</string>
	<string>殊</string>
	<string>释</string>
	<string>词</string>
	<string>亡</string>
	<string>壁</string>
	<string>顿</string>
	<string>宝</string>
	<string>午</string>
	<string>尘</string>
	<string>闻</string>
	<string>揭</string>
	<string>炮</string>
	<string>残</string>
	<string>冬</string>
	<string>桥</string>
	<string>妇</string>
	<string>警</string>
	<string>综</string>
	<string>招</string>
	<string>吴</string>
	<string>付</string>
	<string>浮</string>
	<string>遭</string>
	<string>徐</string>
	<string>您</string>
	<string>摇</string>
	<string>谷</string>
	<string>赞</string>
	<string>箱</string>
	<string>隔</string>
	<string>订</string>
	<string>男</string>
	<string>吹</string>
	<string>园</string>
	<string>纷</string>
	<string>唐</string>
	<string>败</string>
	<string>宋</string>
	<string>玻</string>
	<string>巨</string>
	<string>耕</string>
	<string>坦</string>
	<string>荣</string>
	<string>闭</string>
	<string>湾</string>
	<string>键</string>
	<string>凡</string>
	<string>驻</string>
	<string>锅</string>
	<string>救</string>
	<string>恩</string>
	<string>剥</string>
	<string>凝</string>
	<string>碱</string>
	<string>齿</string>
	<string>截</string>
	<string>炼</string>
	<string>麻</string>
	<string>纺</string>
	<string>禁</string>
	<string>废</string>
	<string>盛</string>
	<string>版</string>
	<string>缓</string>
	<string>净</string>
	<string>睛</string>
	<string>昌</string>
	<string>婚</string>
	<string>涉</string>
	<string>筒</string>
	<string>嘴</string>
	<string>插</string>
	<string>岸</string>
	<string>朗</string>
	<string>庄</string>
	<string>街</string>
	<string>藏</string>
	<string>姑</string>
	<string>贸</string>
	<string>腐</string>
	<string>奴</string>
	<string>啦</string>
	<string>惯</string>
	<string>乘</string>
	<string>伙</string>
	<string>恢</string>
	<string>匀</string>
	<string>纱</string>
	<string>扎</string>
	<string>辩</string>
	<string>耳</string>
	<string>彪</string>
	<string>臣</string>
	<string>亿</string>
	<string>璃</string>
	<string>抵</string>
	<string>脉</string>
	<string>秀</string>
	<string>萨</string>
	<string>俄</string>
	<string>网</string>
	<string>舞</string>
	<string>店</string>
	<string>喷</string>
	<string>纵</string>
	<string>寸</string>
	<string>汗</string>
	<string>挂</string>
	<string>洪</string>
	<string>贺</string>
	<string>闪</string>
	<string>柬</string>
	<string>爆</string>
	<string>烯</string>
	<string>津</string>
	<string>稻</string>
	<string>墙</string>
	<string>软</string>
	<string>勇</string>
	<string>像</string>
	<string>滚</string>
	<string>厘</string>
	<string>蒙</string>
	<string>芳</string>
	<string>肯</string>
	<string>坡</string>
	<string>柱</string>
	<string>荡</string>
	<string>腿</string>
	<string>仪</string>
	<string>旅</string>
	<string>尾</string>
	<string>轧</string>
	<string>冰</string>
	<string>贡</string>
	<string>登</string>
	<string>黎</string>
	<string>削</string>
	<string>钻</string>
	<string>勒</string>
	<string>逃</string>
	<string>障</string>
	<string>氨</string>
	<string>郭</string>
	<string>峰</string>
	<string>币</string>
	<string>港</string>
	<string>伏</string>
	<string>轨</string>
	<string>亩</string>
	<string>毕</string>
	<string>擦</string>
	<string>莫</string>
	<string>刺</string>
	<string>浪</string>
	<string>秘</string>
	<string>援</string>
	<string>株</string>
	<string>健</string>
	<string>售</string>
	<string>股</string>
	<string>岛</string>
	<string>甘</string>
	<string>泡</string>
	<string>睡</string>
	<string>童</string>
	<string>铸</string>
	<string>汤</string>
	<string>阀</string>
	<string>休</string>
	<string>汇</string>
	<string>舍</string>
	<string>牧</string>
	<string>绕</string>
	<string>炸</string>
	<string>哲</string>
	<string>磷</string>
	<string>绩</string>
	<string>朋</string>
	<string>淡</string>
	<string>尖</string>
	<string>启</string>
	<string>陷</string>
	<string>柴</string>
	<string>呈</string>
	<string>徒</string>
	<string>颜</string>
	<string>泪</string>
	<string>稍</string>
	<string>忘</string>
	<string>泵</string>
	<string>蓝</string>
	<string>拖</string>
	<string>洞</string>
	<string>授</string>
	<string>镜</string>
	<string>辛</string>
	<string>壮</string>
	<string>锋</string>
	<string>贫</string>
	<string>虚</string>
	<string>弯</string>
	<string>摩</string>
	<string>泰</string>
	<string>幼</string>
	<string>廷</string>
	<string>尊</string>
	<string>窗</string>
	<string>纲</string>
	<string>弄</string>
	<string>隶</string>
	<string>疑</string>
	<string>氏</string>
	<string>宫</string>
	<string>姐</string>
	<string>震</string>
	<string>瑞</string>
	<string>怪</string>
	<string>尤</string>
	<string>琴</string>
	<string>循</string>
	<string>描</string>
	<string>膜</string>
	<string>违</string>
	<string>夹</string>
	<string>腰</string>
	<string>缘</string>
	<string>珠</string>
	<string>穷</string>
	<string>森</string>
	<string>枝</string>
	<string>竹</string>
	<string>沟</string>
	<string>催</string>
	<string>绳</string>
	<string>忆</string>
	<string>邦</string>
	<string>剩</string>
	<string>幸</string>
	<string>浆</string>
	<string>栏</string>
	<string>拥</string>
	<string>牙</string>
	<string>贮</string>
	<string>礼</string>
	<string>滤</string>
	<string>钠</string>
	<string>纹</string>
	<string>罢</string>
	<string>拍</string>
	<string>咱</string>
	<string>喊</string>
	<string>袖</string>
	<string>埃</string>
	<string>勤</string>
	<string>罚</string>
	<string>焦</string>
	<string>潜</string>
	<string>伍</string>
	<string>墨</string>
	<string>欲</string>
	<string>缝</string>
	<string>姓</string>
	<string>刊</string>
	<string>饱</string>
	<string>仿</string>
	<string>奖</string>
	<string>铝</string>
	<string>鬼</string>
	<string>丽</string>
	<string>跨</string>
	<string>默</string>
	<string>挖</string>
	<string>链</string>
	<string>扫</string>
	<string>喝</string>
	<string>袋</string>
	<string>炭</string>
	<string>污</string>
	<string>幕</string>
	<string>诸</string>
	<string>弧</string>
	<string>励</string>
	<string>梅</string>
	<string>奶</string>
	<string>洁</string>
	<string>灾</string>
	<string>舟</string>
	<string>鉴</string>
	<string>苯</string>
	<string>讼</string>
	<string>抱</string>
	<string>毁</string>
	<string>懂</string>
	<string>寒</string>
	<string>智</string>
	<string>埔</string>
	<string>寄</string>
	<string>届</string>
	<string>跃</string>
	<string>渡</string>
	<string>挑</string>
	<string>丹</string>
	<string>艰</string>
	<string>贝</string>
	<string>碰</string>
	<string>拔</string>
	<string>爹</string>
	<string>戴</string>
	<string>码</string>
	<string>梦</string>
	<string>芽</string>
	<string>熔</string>
	<string>赤</string>
	<string>渔</string>
	<string>哭</string>
	<string>敬</string>
	<string>颗</string>
	<string>奔</string>
	<string>铅</string>
	<string>仲</string>
	<string>虎</string>
	<string>稀</string>
	<string>妹</string>
	<string>乏</string>
	<string>珍</string>
	<string>申</string>
	<string>桌</string>
	<string>遵</string>
	<string>允</string>
	<string>隆</string>
	<string>螺</string>
	<string>仓</string>
	<string>魏</string>
	<string>锐</string>
	<string>晓</string>
	<string>氮</string>
	<string>兼</string>
	<string>隐</string>
	<string>碍</string>
	<string>赫</string>
	<string>拨</string>
	<string>忠</string>
	<string>肃</string>
	<string>缸</string>
	<string>牵</string>
	<string>抢</string>
	<string>博</string>
	<string>巧</string>
	<string>壳</string>
	<string>兄</string>
	<string>杜</string>
	<string>讯</string>
	<string>诚</string>
	<string>碧</string>
	<string>祥</string>
	<string>柯</string>
	<string>页</string>
	<string>巡</string>
	<string>矩</string>
	<string>悲</string>
	<string>灌</string>
	<string>龄</string>
	<string>伦</string>
	<string>票</string>
	<string>寻</string>
	<string>桂</string>
	<string>铺</string>
	<string>圣</string>
	<string>恐</string>
	<string>恰</string>
	<string>郑</string>
	<string>趣</string>
	<string>抬</string>
	<string>荒</string>
	<string>腾</string>
	<string>贴</string>
	<string>柔</string>
	<string>滴</string>
	<string>猛</string>
	<string>阔</string>
	<string>辆</string>
	<string>妻</string>
	<string>填</string>
	<string>撤</string>
	<string>储</string>
	<string>签</string>
	<string>闹</string>
	<string>扰</string>
	<string>紫</string>
	<string>砂</string>
	<string>递</string>
	<string>戏</string>
	<string>吊</string>
	<string>陶</string>
	<string>伐</string>
	<string>喂</string>
	<string>疗</string>
	<string>瓶</string>
	<string>婆</string>
	<string>抚</string>
	<string>臂</string>
	<string>摸</string>
	<string>忍</string>
	<string>虾</string>
	<string>蜡</string>
	<string>邻</string>
	<string>胸</string>
	<string>巩</string>
	<string>挤</string>
	<string>偶</string>
	<string>弃</string>
	<string>槽</string>
	<string>劲</string>
	<string>乳</string>
	<string>邓</string>
	<string>吉</string>
	<string>仁</string>
	<string>烂</string>
	<string>砖</string>
	<string>租</string>
	<string>乌</string>
	<string>舰</string>
	<string>伴</string>
	<string>瓜</string>
	<string>浅</string>
	<string>丙</string>
	<string>暂</string>
	<string>燥</string>
	<string>橡</string>
	<string>柳</string>
	<string>迷</string>
	<string>暖</string>
	<string>牌</string>
	<string>秧</string>
	<string>胆</string>
	<string>详</string>
	<string>簧</string>
	<string>踏</string>
	<string>瓷</string>
	<string>谱</string>
	<string>呆</string>
	<string>宾</string>
	<string>糊</string>
	<string>洛</string>
	<string>辉</string>
	<string>愤</string>
	<string>竞</string>
	<string>隙</string>
	<string>怒</string>
	<string>粘</string>
	<string>乃</string>
	<string>绪</string>
	<string>肩</string>
	<string>籍</string>
	<string>敏</string>
	<string>涂</string>
	<string>熙</string>
	<string>皆</string>
	<string>侦</string>
	<string>悬</string>
	<string>掘</string>
	<string>享</string>
	<string>纠</string>
	<string>醒</string>
	<string>狂</string>
	<string>锁</string>
	<string>淀</string>
	<string>恨</string>
	<string>牲</string>
	<string>霸</string>
	<string>爬</string>
	<string>赏</string>
	<string>逆</string>
	<string>玩</string>
	<string>陵</string>
	<string>祝</string>
	<string>秒</string>
	<string>浙</string>
	<string>貌</string>
	<string>役</string>
	<string>彼</string>
	<string>悉</string>
	<string>鸭</string>
	<string>趋</string>
	<string>凤</string>
	<string>晨</string>
	<string>畜</string>
	<string>辈</string>
	<string>秩</string>
	<string>卵</string>
	<string>署</string>
	<string>梯</string>
	<string>炎</string>
	<string>滩</string>
	<string>棋</string>
	<string>驱</string>
	<string>筛</string>
	<string>峡</string>
	<string>冒</string>
	<string>啥</string>
	<string>寿</string>
	<string>译</string>
	<string>浸</string>
	<string>泉</string>
	<string>帽</string>
	<string>迟</string>
	<string>硅</string>
	<string>疆</string>
	<string>贷</string>
	<string>漏</string>
	<string>稿</string>
	<string>冠</string>
	<string>嫩</string>
	<string>胁</string>
	<string>芯</string>
	<string>牢</string>
	<string>叛</string>
	<string>蚀</string>
	<string>奥</string>
	<string>鸣</string>
	<string>岭</string>
	<string>羊</string>
	<string>凭</string>
	<string>串</string>
	<string>塘</string>
	<string>绘</string>
	<string>酵</string>
	<string>融</string>
	<string>盆</string>
	<string>锡</string>
	<string>庙</string>
	<string>筹</string>
	<string>冻</string>
	<string>辅</string>
	<string>摄</string>
	<string>袭</string>
	<string>筋</string>
	<string>拒</string>
	<string>僚</string>
	<string>旱</string>
	<string>钾</string>
	<string>鸟</string>
	<string>漆</string>
	<string>沈</string>
	<string>眉</string>
	<string>疏</string>
	<string>添</string>
	<string>棒</string>
	<string>穗</string>
	<string>硝</string>
	<string>韩</string>
	<string>逼</string>
	<string>扭</string>
	<string>侨</string>
	<string>凉</string>
	<string>挺</string>
	<string>碗</string>
	<string>栽</string>
	<string>炒</string>
	<string>杯</string>
	<string>患</string>
	<string>馏</string>
	<string>劝</string>
	<string>豪</string>
	<string>辽</string>
	<string>勃</string>
	<string>鸿</string>
	<string>旦</string>
	<string>吏</string>
	<string>拜</string>
	<string>狗</string>
	<string>埋</string>
	<string>辊</string>
	<string>掩</string>
	<string>饮</string>
	<string>搬</string>
	<string>骂</string>
	<string>辞</string>
	<string>勾</string>
	<string>扣</string>
	<string>估</string>
	<string>蒋</string>
	<string>绒</string>
	<string>雾</string>
	<string>丈</string>
	<string>朵</string>
	<string>姆</string>
	<string>拟</string>
	<string>宇</string>
	<string>辑</string>
	<string>陕</string>
	<string>雕</string>
	<string>偿</string>
	<string>蓄</string>
	<string>崇</string>
	<string>剪</string>
	<string>倡</string>
	<string>厅</string>
	<string>咬</string>
	<string>驶</string>
	<string>薯</string>
	<string>刷</string>
	<string>斥</string>
	<string>番</string>
	<string>赋</string>
	<string>奉</string>
	<string>佛</string>
	<string>浇</string>
	<string>漫</string>
	<string>曼</string>
	<string>扇</string>
	<string>钙</string>
	<string>桃</string>
	<string>扶</string>
	<string>仔</string>
	<string>返</string>
	<string>俗</string>
	<string>亏</string>
	<string>腔</string>
	<string>鞋</string>
	<string>棱</string>
	<string>覆</string>
	<string>框</string>
	<string>悄</string>
	<string>叔</string>
	<string>撞</string>
	<string>骗</string>
	<string>勘</string>
	<string>旺</string>
	<string>沸</string>
	<string>孤</string>
	<string>吐</string>
	<string>孟</string>
	<string>渠</string>
	<string>屈</string>
	<string>疾</string>
	<string>妙</string>
	<string>惜</string>
	<string>仰</string>
	<string>狠</string>
	<string>胀</string>
	<string>谐</string>
	<string>抛</string>
	<string>霉</string>
	<string>桑</string>
	<string>岗</string>
	<string>嘛</string>
	<string>衰</string>
	<string>盗</string>
	<string>渗</string>
	<string>脏</string>
	<string>赖</string>
	<string>涌</string>
	<string>甜</string>
	<string>曹</string>
	<string>阅</string>
	<string>肌</string>
	<string>哩</string>
	<string>厉</string>
	<string>烃</string>
	<string>纬</string>
	<string>毅</string>
	<string>昨</string>
	<string>伪</string>
	<string>症</string>
	<string>煮</string>
	<string>叹</string>
	<string>钉</string>
	<string>搭</string>
	<string>茎</string>
	<string>笼</string>
	<string>酷</string>
	<string>偷</string>
	<string>弓</string>
	<string>锥</string>
	<string>恒</string>
	<string>杰</string>
	<string>坑</string>
	<string>鼻</string>
	<string>翼</string>
	<string>纶</string>
	<string>叙</string>
	<string>狱</string>
	<string>逮</string>
	<string>罐</string>
	<string>络</string>
	<string>棚</string>
	<string>抑</string>
	<string>膨</string>
	<string>蔬</string>
	<string>寺</string>
	<string>骤</string>
	<string>穆</string>
	<string>冶</string>
	<string>枯</string>
	<string>册</string>
	<string>尸</string>
	<string>凸</string>
	<string>绅</string>
	<string>坯</string>
	<string>牺</string>
	<string>焰</string>
	<string>轰</string>
	<string>欣</string>
	<string>晋</string>
	<string>瘦</string>
	<string>御</string>
	<string>锭</string>
	<string>锦</string>
	<string>丧</string>
	<string>旬</string>
	<string>锻</string>
	<string>垄</string>
	<string>搜</string>
	<string>扑</string>
	<string>邀</string>
	<string>亭</string>
	<string>酯</string>
	<string>迈</string>
	<string>舒</string>
	<string>脆</string>
	<string>酶</string>
	<string>闲</string>
	<string>忧</string>
	<string>酚</string>
	<string>顽</string>
	<string>羽</string>
	<string>涨</string>
	<string>卸</string>
	<string>仗</string>
	<string>陪</string>
	<string>辟</string>
	<string>惩</string>
	<string>杭</string>
	<string>姚</string>
	<string>肚</string>
	<string>捉</string>
	<string>飘</string>
	<string>漂</string>
	<string>昆</string>
	<string>欺</string>
	<string>吾</string>
	<string>郎</string>
	<string>烷</string>
	<string>汁</string>
	<string>呵</string>
	<string>饰</string>
	<string>萧</string>
	<string>雅</string>
	<string>邮</string>
	<string>迁</string>
	<string>燕</string>
	<string>撒</string>
	<string>姻</string>
	<string>赴</string>
	<string>宴</string>
	<string>烦</string>
	<string>债</string>
	<string>帐</string>
	<string>斑</string>
	<string>铃</string>
	<string>旨</string>
	<string>醇</string>
	<string>董</string>
	<string>饼</string>
	<string>雏</string>
	<string>姿</string>
	<string>拌</string>
	<string>傅</string>
	<string>腹</string>
	<string>妥</string>
	<string>揉</string>
	<string>贤</string>
	<string>拆</string>
	<string>歪</string>
	<string>葡</string>
	<string>胺</string>
	<string>丢</string>
	<string>浩</string>
	<string>徽</string>
	<string>昂</string>
	<string>垫</string>
	<string>挡</string>
	<string>览</string>
	<string>贪</string>
	<string>慰</string>
	<string>缴</string>
	<string>汪</string>
	<string>慌</string>
	<string>冯</string>
	<string>诺</string>
	<string>姜</string>
	<string>谊</string>
	<string>凶</string>
	<string>劣</string>
	<string>诬</string>
	<string>耀</string>
	<string>昏</string>
	<string>躺</string>
	<string>盈</string>
	<string>骑</string>
	<string>乔</string>
	<string>溪</string>
	<string>丛</string>
	<string>卢</string>
	<string>抹</string>
	<string>闷</string>
	<string>咨</string>
	<string>刮</string>
	<string>驾</string>
	<string>缆</string>
	<string>悟</string>
	<string>摘</string>
	<string>铒</string>
	<string>掷</string>
	<string>颇</string>
	<string>幻</string>
	<string>柄</string>
	<string>惠</string>
	<string>惨</string>
	<string>佳</string>
	<string>仇</string>
	<string>腊</string>
	<string>窝</string>
	<string>涤</string>
	<string>剑</string>
	<string>瞧</string>
	<string>堡</string>
	<string>泼</string>
	<string>葱</string>
	<string>罩</string>
	<string>霍</string>
	<string>捞</string>
	<string>胎</string>
	<string>苍</string>
	<string>滨</string>
	<string>俩</string>
	<string>捅</string>
	<string>湘</string>
	<string>砍</string>
	<string>霞</string>
	<string>邵</string>
	<string>萄</string>
	<string>疯</string>
	<string>淮</string>
	<string>遂</string>
	<string>熊</string>
	<string>粪</string>
	<string>烘</string>
	<string>宿</string>
	<string>档</string>
	<string>戈</string>
	<string>驳</string>
	<string>嫂</string>
	<string>裕</string>
	<string>徙</string>
	<string>箭</string>
	<string>捐</string>
	<string>肠</string>
	<string>撑</string>
	<string>晒</string>
	<string>辨</string>
	<string>殿</string>
	<string>莲</string>
	<string>摊</string>
	<string>搅</string>
	<string>酱</string>
	<string>屏</string>
	<string>疫</string>
	<string>哀</string>
	<string>蔡</string>
	<string>堵</string>
	<string>沫</string>
	<string>皱</string>
	<string>畅</string>
	<string>叠</string>
	<string>阁</string>
	<string>莱</string>
	<string>敲</string>
	<string>辖</string>
	<string>钩</string>
	<string>痕</string>
	<string>坝</string>
	<string>巷</string>
	<string>饿</string>
	<string>祸</string>
	<string>丘</string>
	<string>玄</string>
	<string>溜</string>
	<string>曰</string>
	<string>逻</string>
	<string>彭</string>
	<string>尝</string>
	<string>卿</string>
	<string>妨</string>
	<string>艇</string>
	<string>吞</string>
	<string>韦</string>
	<string>怨</string>
	<string>矮</string>
	<string>歇</string>
</array>
</plist>
