[submodule "Modules/unbound"]
	path = Modules/unbound
	url = https://github.com/breadwallet/unbound.git
[submodule "Modules/nettle"]
	path = Modules/nettle
	url = https://github.com/breadwallet/nettle.git
[submodule "Modules/loafwallet-core"]
	path = Modules/loafwallet-core
	url = https://github.com/litecoin-foundation/loafwallet-core.git
        branch = losh11/master
