[submodule "Modules/breadwallet-core"]
	path = Modules/breadwallet-core
	url = https://github.com/breadwallet/breadwallet-core.git
[submodule "Modules/secp256k1"]
	path = Modules/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
