<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>あいこくしん</string>
	<string>あいさつ</string>
	<string>あいだ</string>
	<string>あおぞら</string>
	<string>あかちゃん</string>
	<string>あきる</string>
	<string>あけがた</string>
	<string>あける</string>
	<string>あこがれる</string>
	<string>あさい</string>
	<string>あさひ</string>
	<string>あしあと</string>
	<string>あじわう</string>
	<string>あずかる</string>
	<string>あずき</string>
	<string>あそぶ</string>
	<string>あたえる</string>
	<string>あたためる</string>
	<string>あたりまえ</string>
	<string>あたる</string>
	<string>あつい</string>
	<string>あつかう</string>
	<string>あっしゅく</string>
	<string>あつまり</string>
	<string>あつめる</string>
	<string>あてな</string>
	<string>あてはまる</string>
	<string>あひる</string>
	<string>あぶら</string>
	<string>あぶる</string>
	<string>あふれる</string>
	<string>あまい</string>
	<string>あまど</string>
	<string>あまやかす</string>
	<string>あまり</string>
	<string>あみもの</string>
	<string>あめりか</string>
	<string>あやまる</string>
	<string>あゆむ</string>
	<string>あらいぐま</string>
	<string>あらし</string>
	<string>あらすじ</string>
	<string>あらためる</string>
	<string>あらゆる</string>
	<string>あらわす</string>
	<string>ありがとう</string>
	<string>あわせる</string>
	<string>あわてる</string>
	<string>あんい</string>
	<string>あんがい</string>
	<string>あんこ</string>
	<string>あんぜん</string>
	<string>あんてい</string>
	<string>あんない</string>
	<string>あんまり</string>
	<string>いいだす</string>
	<string>いおん</string>
	<string>いがい</string>
	<string>いがく</string>
	<string>いきおい</string>
	<string>いきなり</string>
	<string>いきもの</string>
	<string>いきる</string>
	<string>いくじ</string>
	<string>いくぶん</string>
	<string>いけばな</string>
	<string>いけん</string>
	<string>いこう</string>
	<string>いこく</string>
	<string>いこつ</string>
	<string>いさましい</string>
	<string>いさん</string>
	<string>いしき</string>
	<string>いじゅう</string>
	<string>いじょう</string>
	<string>いじわる</string>
	<string>いずみ</string>
	<string>いずれ</string>
	<string>いせい</string>
	<string>いせえび</string>
	<string>いせかい</string>
	<string>いせき</string>
	<string>いぜん</string>
	<string>いそうろう</string>
	<string>いそがしい</string>
	<string>いだい</string>
	<string>いだく</string>
	<string>いたずら</string>
	<string>いたみ</string>
	<string>いたりあ</string>
	<string>いちおう</string>
	<string>いちじ</string>
	<string>いちど</string>
	<string>いちば</string>
	<string>いちぶ</string>
	<string>いちりゅう</string>
	<string>いつか</string>
	<string>いっしゅん</string>
	<string>いっせい</string>
	<string>いっそう</string>
	<string>いったん</string>
	<string>いっち</string>
	<string>いってい</string>
	<string>いっぽう</string>
	<string>いてざ</string>
	<string>いてん</string>
	<string>いどう</string>
	<string>いとこ</string>
	<string>いない</string>
	<string>いなか</string>
	<string>いねむり</string>
	<string>いのち</string>
	<string>いのる</string>
	<string>いはつ</string>
	<string>いばる</string>
	<string>いはん</string>
	<string>いびき</string>
	<string>いひん</string>
	<string>いふく</string>
	<string>いへん</string>
	<string>いほう</string>
	<string>いみん</string>
	<string>いもうと</string>
	<string>いもたれ</string>
	<string>いもり</string>
	<string>いやがる</string>
	<string>いやす</string>
	<string>いよかん</string>
	<string>いよく</string>
	<string>いらい</string>
	<string>いらすと</string>
	<string>いりぐち</string>
	<string>いりょう</string>
	<string>いれい</string>
	<string>いれもの</string>
	<string>いれる</string>
	<string>いろえんぴつ</string>
	<string>いわい</string>
	<string>いわう</string>
	<string>いわかん</string>
	<string>いわば</string>
	<string>いわゆる</string>
	<string>いんげんまめ</string>
	<string>いんさつ</string>
	<string>いんしょう</string>
	<string>いんよう</string>
	<string>うえき</string>
	<string>うえる</string>
	<string>うおざ</string>
	<string>うがい</string>
	<string>うかぶ</string>
	<string>うかべる</string>
	<string>うきわ</string>
	<string>うくらいな</string>
	<string>うくれれ</string>
	<string>うけたまわる</string>
	<string>うけつけ</string>
	<string>うけとる</string>
	<string>うけもつ</string>
	<string>うける</string>
	<string>うごかす</string>
	<string>うごく</string>
	<string>うこん</string>
	<string>うさぎ</string>
	<string>うしなう</string>
	<string>うしろがみ</string>
	<string>うすい</string>
	<string>うすぎ</string>
	<string>うすぐらい</string>
	<string>うすめる</string>
	<string>うせつ</string>
	<string>うちあわせ</string>
	<string>うちがわ</string>
	<string>うちき</string>
	<string>うちゅう</string>
	<string>うっかり</string>
	<string>うつくしい</string>
	<string>うったえる</string>
	<string>うつる</string>
	<string>うどん</string>
	<string>うなぎ</string>
	<string>うなじ</string>
	<string>うなずく</string>
	<string>うなる</string>
	<string>うねる</string>
	<string>うのう</string>
	<string>うぶげ</string>
	<string>うぶごえ</string>
	<string>うまれる</string>
	<string>うめる</string>
	<string>うもう</string>
	<string>うやまう</string>
	<string>うよく</string>
	<string>うらがえす</string>
	<string>うらぐち</string>
	<string>うらない</string>
	<string>うりあげ</string>
	<string>うりきれ</string>
	<string>うるさい</string>
	<string>うれしい</string>
	<string>うれゆき</string>
	<string>うれる</string>
	<string>うろこ</string>
	<string>うわき</string>
	<string>うわさ</string>
	<string>うんこう</string>
	<string>うんちん</string>
	<string>うんてん</string>
	<string>うんどう</string>
	<string>えいえん</string>
	<string>えいが</string>
	<string>えいきょう</string>
	<string>えいご</string>
	<string>えいせい</string>
	<string>えいぶん</string>
	<string>えいよう</string>
	<string>えいわ</string>
	<string>えおり</string>
	<string>えがお</string>
	<string>えがく</string>
	<string>えきたい</string>
	<string>えくせる</string>
	<string>えしゃく</string>
	<string>えすて</string>
	<string>えつらん</string>
	<string>えのぐ</string>
	<string>えほうまき</string>
	<string>えほん</string>
	<string>えまき</string>
	<string>えもじ</string>
	<string>えもの</string>
	<string>えらい</string>
	<string>えらぶ</string>
	<string>えりあ</string>
	<string>えんえん</string>
	<string>えんかい</string>
	<string>えんぎ</string>
	<string>えんげき</string>
	<string>えんしゅう</string>
	<string>えんぜつ</string>
	<string>えんそく</string>
	<string>えんちょう</string>
	<string>えんとつ</string>
	<string>おいかける</string>
	<string>おいこす</string>
	<string>おいしい</string>
	<string>おいつく</string>
	<string>おうえん</string>
	<string>おうさま</string>
	<string>おうじ</string>
	<string>おうせつ</string>
	<string>おうたい</string>
	<string>おうふく</string>
	<string>おうべい</string>
	<string>おうよう</string>
	<string>おえる</string>
	<string>おおい</string>
	<string>おおう</string>
	<string>おおどおり</string>
	<string>おおや</string>
	<string>おおよそ</string>
	<string>おかえり</string>
	<string>おかず</string>
	<string>おがむ</string>
	<string>おかわり</string>
	<string>おぎなう</string>
	<string>おきる</string>
	<string>おくさま</string>
	<string>おくじょう</string>
	<string>おくりがな</string>
	<string>おくる</string>
	<string>おくれる</string>
	<string>おこす</string>
	<string>おこなう</string>
	<string>おこる</string>
	<string>おさえる</string>
	<string>おさない</string>
	<string>おさめる</string>
	<string>おしいれ</string>
	<string>おしえる</string>
	<string>おじぎ</string>
	<string>おじさん</string>
	<string>おしゃれ</string>
	<string>おそらく</string>
	<string>おそわる</string>
	<string>おたがい</string>
	<string>おたく</string>
	<string>おだやか</string>
	<string>おちつく</string>
	<string>おっと</string>
	<string>おつり</string>
	<string>おでかけ</string>
	<string>おとしもの</string>
	<string>おとなしい</string>
	<string>おどり</string>
	<string>おどろかす</string>
	<string>おばさん</string>
	<string>おまいり</string>
	<string>おめでとう</string>
	<string>おもいで</string>
	<string>おもう</string>
	<string>おもたい</string>
	<string>おもちゃ</string>
	<string>おやつ</string>
	<string>おやゆび</string>
	<string>およぼす</string>
	<string>おらんだ</string>
	<string>おろす</string>
	<string>おんがく</string>
	<string>おんけい</string>
	<string>おんしゃ</string>
	<string>おんせん</string>
	<string>おんだん</string>
	<string>おんちゅう</string>
	<string>おんどけい</string>
	<string>かあつ</string>
	<string>かいが</string>
	<string>がいき</string>
	<string>がいけん</string>
	<string>がいこう</string>
	<string>かいさつ</string>
	<string>かいしゃ</string>
	<string>かいすいよく</string>
	<string>かいぜん</string>
	<string>かいぞうど</string>
	<string>かいつう</string>
	<string>かいてん</string>
	<string>かいとう</string>
	<string>かいふく</string>
	<string>がいへき</string>
	<string>かいほう</string>
	<string>かいよう</string>
	<string>がいらい</string>
	<string>かいわ</string>
	<string>かえる</string>
	<string>かおり</string>
	<string>かかえる</string>
	<string>かがく</string>
	<string>かがし</string>
	<string>かがみ</string>
	<string>かくご</string>
	<string>かくとく</string>
	<string>かざる</string>
	<string>がぞう</string>
	<string>かたい</string>
	<string>かたち</string>
	<string>がちょう</string>
	<string>がっきゅう</string>
	<string>がっこう</string>
	<string>がっさん</string>
	<string>がっしょう</string>
	<string>かなざわし</string>
	<string>かのう</string>
	<string>がはく</string>
	<string>かぶか</string>
	<string>かほう</string>
	<string>かほご</string>
	<string>かまう</string>
	<string>かまぼこ</string>
	<string>かめれおん</string>
	<string>かゆい</string>
	<string>かようび</string>
	<string>からい</string>
	<string>かるい</string>
	<string>かろう</string>
	<string>かわく</string>
	<string>かわら</string>
	<string>がんか</string>
	<string>かんけい</string>
	<string>かんこう</string>
	<string>かんしゃ</string>
	<string>かんそう</string>
	<string>かんたん</string>
	<string>かんち</string>
	<string>がんばる</string>
	<string>きあい</string>
	<string>きあつ</string>
	<string>きいろ</string>
	<string>ぎいん</string>
	<string>きうい</string>
	<string>きうん</string>
	<string>きえる</string>
	<string>きおう</string>
	<string>きおく</string>
	<string>きおち</string>
	<string>きおん</string>
	<string>きかい</string>
	<string>きかく</string>
	<string>きかんしゃ</string>
	<string>ききて</string>
	<string>きくばり</string>
	<string>きくらげ</string>
	<string>きけんせい</string>
	<string>きこう</string>
	<string>きこえる</string>
	<string>きこく</string>
	<string>きさい</string>
	<string>きさく</string>
	<string>きさま</string>
	<string>きさらぎ</string>
	<string>ぎじかがく</string>
	<string>ぎしき</string>
	<string>ぎじたいけん</string>
	<string>ぎじにってい</string>
	<string>ぎじゅつしゃ</string>
	<string>きすう</string>
	<string>きせい</string>
	<string>きせき</string>
	<string>きせつ</string>
	<string>きそう</string>
	<string>きぞく</string>
	<string>きぞん</string>
	<string>きたえる</string>
	<string>きちょう</string>
	<string>きつえん</string>
	<string>ぎっちり</string>
	<string>きつつき</string>
	<string>きつね</string>
	<string>きてい</string>
	<string>きどう</string>
	<string>きどく</string>
	<string>きない</string>
	<string>きなが</string>
	<string>きなこ</string>
	<string>きぬごし</string>
	<string>きねん</string>
	<string>きのう</string>
	<string>きのした</string>
	<string>きはく</string>
	<string>きびしい</string>
	<string>きひん</string>
	<string>きふく</string>
	<string>きぶん</string>
	<string>きぼう</string>
	<string>きほん</string>
	<string>きまる</string>
	<string>きみつ</string>
	<string>きむずかしい</string>
	<string>きめる</string>
	<string>きもだめし</string>
	<string>きもち</string>
	<string>きもの</string>
	<string>きゃく</string>
	<string>きやく</string>
	<string>ぎゅうにく</string>
	<string>きよう</string>
	<string>きょうりゅう</string>
	<string>きらい</string>
	<string>きらく</string>
	<string>きりん</string>
	<string>きれい</string>
	<string>きれつ</string>
	<string>きろく</string>
	<string>ぎろん</string>
	<string>きわめる</string>
	<string>ぎんいろ</string>
	<string>きんかくじ</string>
	<string>きんじょ</string>
	<string>きんようび</string>
	<string>ぐあい</string>
	<string>くいず</string>
	<string>くうかん</string>
	<string>くうき</string>
	<string>くうぐん</string>
	<string>くうこう</string>
	<string>ぐうせい</string>
	<string>くうそう</string>
	<string>ぐうたら</string>
	<string>くうふく</string>
	<string>くうぼ</string>
	<string>くかん</string>
	<string>くきょう</string>
	<string>くげん</string>
	<string>ぐこう</string>
	<string>くさい</string>
	<string>くさき</string>
	<string>くさばな</string>
	<string>くさる</string>
	<string>くしゃみ</string>
	<string>くしょう</string>
	<string>くすのき</string>
	<string>くすりゆび</string>
	<string>くせげ</string>
	<string>くせん</string>
	<string>ぐたいてき</string>
	<string>くださる</string>
	<string>くたびれる</string>
	<string>くちこみ</string>
	<string>くちさき</string>
	<string>くつした</string>
	<string>ぐっすり</string>
	<string>くつろぐ</string>
	<string>くとうてん</string>
	<string>くどく</string>
	<string>くなん</string>
	<string>くねくね</string>
	<string>くのう</string>
	<string>くふう</string>
	<string>くみあわせ</string>
	<string>くみたてる</string>
	<string>くめる</string>
	<string>くやくしょ</string>
	<string>くらす</string>
	<string>くらべる</string>
	<string>くるま</string>
	<string>くれる</string>
	<string>くろう</string>
	<string>くわしい</string>
	<string>ぐんかん</string>
	<string>ぐんしょく</string>
	<string>ぐんたい</string>
	<string>ぐんて</string>
	<string>けあな</string>
	<string>けいかく</string>
	<string>けいけん</string>
	<string>けいこ</string>
	<string>けいさつ</string>
	<string>げいじゅつ</string>
	<string>けいたい</string>
	<string>げいのうじん</string>
	<string>けいれき</string>
	<string>けいろ</string>
	<string>けおとす</string>
	<string>けおりもの</string>
	<string>げきか</string>
	<string>げきげん</string>
	<string>げきだん</string>
	<string>げきちん</string>
	<string>げきとつ</string>
	<string>げきは</string>
	<string>げきやく</string>
	<string>げこう</string>
	<string>げこくじょう</string>
	<string>げざい</string>
	<string>けさき</string>
	<string>げざん</string>
	<string>けしき</string>
	<string>けしごむ</string>
	<string>けしょう</string>
	<string>げすと</string>
	<string>けたば</string>
	<string>けちゃっぷ</string>
	<string>けちらす</string>
	<string>けつあつ</string>
	<string>けつい</string>
	<string>けつえき</string>
	<string>けっこん</string>
	<string>けつじょ</string>
	<string>けっせき</string>
	<string>けってい</string>
	<string>けつまつ</string>
	<string>げつようび</string>
	<string>げつれい</string>
	<string>けつろん</string>
	<string>げどく</string>
	<string>けとばす</string>
	<string>けとる</string>
	<string>けなげ</string>
	<string>けなす</string>
	<string>けなみ</string>
	<string>けぬき</string>
	<string>げねつ</string>
	<string>けねん</string>
	<string>けはい</string>
	<string>げひん</string>
	<string>けぶかい</string>
	<string>げぼく</string>
	<string>けまり</string>
	<string>けみかる</string>
	<string>けむし</string>
	<string>けむり</string>
	<string>けもの</string>
	<string>けらい</string>
	<string>けろけろ</string>
	<string>けわしい</string>
	<string>けんい</string>
	<string>けんえつ</string>
	<string>けんお</string>
	<string>けんか</string>
	<string>げんき</string>
	<string>けんげん</string>
	<string>けんこう</string>
	<string>けんさく</string>
	<string>けんしゅう</string>
	<string>けんすう</string>
	<string>げんそう</string>
	<string>けんちく</string>
	<string>けんてい</string>
	<string>けんとう</string>
	<string>けんない</string>
	<string>けんにん</string>
	<string>げんぶつ</string>
	<string>けんま</string>
	<string>けんみん</string>
	<string>けんめい</string>
	<string>けんらん</string>
	<string>けんり</string>
	<string>こあくま</string>
	<string>こいぬ</string>
	<string>こいびと</string>
	<string>ごうい</string>
	<string>こうえん</string>
	<string>こうおん</string>
	<string>こうかん</string>
	<string>ごうきゅう</string>
	<string>ごうけい</string>
	<string>こうこう</string>
	<string>こうさい</string>
	<string>こうじ</string>
	<string>こうすい</string>
	<string>ごうせい</string>
	<string>こうそく</string>
	<string>こうたい</string>
	<string>こうちゃ</string>
	<string>こうつう</string>
	<string>こうてい</string>
	<string>こうどう</string>
	<string>こうない</string>
	<string>こうはい</string>
	<string>ごうほう</string>
	<string>ごうまん</string>
	<string>こうもく</string>
	<string>こうりつ</string>
	<string>こえる</string>
	<string>こおり</string>
	<string>ごかい</string>
	<string>ごがつ</string>
	<string>ごかん</string>
	<string>こくご</string>
	<string>こくさい</string>
	<string>こくとう</string>
	<string>こくない</string>
	<string>こくはく</string>
	<string>こぐま</string>
	<string>こけい</string>
	<string>こける</string>
	<string>ここのか</string>
	<string>こころ</string>
	<string>こさめ</string>
	<string>こしつ</string>
	<string>こすう</string>
	<string>こせい</string>
	<string>こせき</string>
	<string>こぜん</string>
	<string>こそだて</string>
	<string>こたい</string>
	<string>こたえる</string>
	<string>こたつ</string>
	<string>こちょう</string>
	<string>こっか</string>
	<string>こつこつ</string>
	<string>こつばん</string>
	<string>こつぶ</string>
	<string>こてい</string>
	<string>こてん</string>
	<string>ことがら</string>
	<string>ことし</string>
	<string>ことば</string>
	<string>ことり</string>
	<string>こなごな</string>
	<string>こねこね</string>
	<string>このまま</string>
	<string>このみ</string>
	<string>このよ</string>
	<string>ごはん</string>
	<string>こひつじ</string>
	<string>こふう</string>
	<string>こふん</string>
	<string>こぼれる</string>
	<string>ごまあぶら</string>
	<string>こまかい</string>
	<string>ごますり</string>
	<string>こまつな</string>
	<string>こまる</string>
	<string>こむぎこ</string>
	<string>こもじ</string>
	<string>こもち</string>
	<string>こもの</string>
	<string>こもん</string>
	<string>こやく</string>
	<string>こやま</string>
	<string>こゆう</string>
	<string>こゆび</string>
	<string>こよい</string>
	<string>こよう</string>
	<string>こりる</string>
	<string>これくしょん</string>
	<string>ころっけ</string>
	<string>こわもて</string>
	<string>こわれる</string>
	<string>こんいん</string>
	<string>こんかい</string>
	<string>こんき</string>
	<string>こんしゅう</string>
	<string>こんすい</string>
	<string>こんだて</string>
	<string>こんとん</string>
	<string>こんなん</string>
	<string>こんびに</string>
	<string>こんぽん</string>
	<string>こんまけ</string>
	<string>こんや</string>
	<string>こんれい</string>
	<string>こんわく</string>
	<string>ざいえき</string>
	<string>さいかい</string>
	<string>さいきん</string>
	<string>ざいげん</string>
	<string>ざいこ</string>
	<string>さいしょ</string>
	<string>さいせい</string>
	<string>ざいたく</string>
	<string>ざいちゅう</string>
	<string>さいてき</string>
	<string>ざいりょう</string>
	<string>さうな</string>
	<string>さかいし</string>
	<string>さがす</string>
	<string>さかな</string>
	<string>さかみち</string>
	<string>さがる</string>
	<string>さぎょう</string>
	<string>さくし</string>
	<string>さくひん</string>
	<string>さくら</string>
	<string>さこく</string>
	<string>さこつ</string>
	<string>さずかる</string>
	<string>ざせき</string>
	<string>さたん</string>
	<string>さつえい</string>
	<string>ざつおん</string>
	<string>ざっか</string>
	<string>ざつがく</string>
	<string>さっきょく</string>
	<string>ざっし</string>
	<string>さつじん</string>
	<string>ざっそう</string>
	<string>さつたば</string>
	<string>さつまいも</string>
	<string>さてい</string>
	<string>さといも</string>
	<string>さとう</string>
	<string>さとおや</string>
	<string>さとし</string>
	<string>さとる</string>
	<string>さのう</string>
	<string>さばく</string>
	<string>さびしい</string>
	<string>さべつ</string>
	<string>さほう</string>
	<string>さほど</string>
	<string>さます</string>
	<string>さみしい</string>
	<string>さみだれ</string>
	<string>さむけ</string>
	<string>さめる</string>
	<string>さやえんどう</string>
	<string>さゆう</string>
	<string>さよう</string>
	<string>さよく</string>
	<string>さらだ</string>
	<string>ざるそば</string>
	<string>さわやか</string>
	<string>さわる</string>
	<string>さんいん</string>
	<string>さんか</string>
	<string>さんきゃく</string>
	<string>さんこう</string>
	<string>さんさい</string>
	<string>ざんしょ</string>
	<string>さんすう</string>
	<string>さんせい</string>
	<string>さんそ</string>
	<string>さんち</string>
	<string>さんま</string>
	<string>さんみ</string>
	<string>さんらん</string>
	<string>しあい</string>
	<string>しあげ</string>
	<string>しあさって</string>
	<string>しあわせ</string>
	<string>しいく</string>
	<string>しいん</string>
	<string>しうち</string>
	<string>しえい</string>
	<string>しおけ</string>
	<string>しかい</string>
	<string>しかく</string>
	<string>じかん</string>
	<string>しごと</string>
	<string>しすう</string>
	<string>じだい</string>
	<string>したうけ</string>
	<string>したぎ</string>
	<string>したて</string>
	<string>したみ</string>
	<string>しちょう</string>
	<string>しちりん</string>
	<string>しっかり</string>
	<string>しつじ</string>
	<string>しつもん</string>
	<string>してい</string>
	<string>してき</string>
	<string>してつ</string>
	<string>じてん</string>
	<string>じどう</string>
	<string>しなぎれ</string>
	<string>しなもの</string>
	<string>しなん</string>
	<string>しねま</string>
	<string>しねん</string>
	<string>しのぐ</string>
	<string>しのぶ</string>
	<string>しはい</string>
	<string>しばかり</string>
	<string>しはつ</string>
	<string>しはらい</string>
	<string>しはん</string>
	<string>しひょう</string>
	<string>しふく</string>
	<string>じぶん</string>
	<string>しへい</string>
	<string>しほう</string>
	<string>しほん</string>
	<string>しまう</string>
	<string>しまる</string>
	<string>しみん</string>
	<string>しむける</string>
	<string>じむしょ</string>
	<string>しめい</string>
	<string>しめる</string>
	<string>しもん</string>
	<string>しゃいん</string>
	<string>しゃうん</string>
	<string>しゃおん</string>
	<string>じゃがいも</string>
	<string>しやくしょ</string>
	<string>しゃくほう</string>
	<string>しゃけん</string>
	<string>しゃこ</string>
	<string>しゃざい</string>
	<string>しゃしん</string>
	<string>しゃせん</string>
	<string>しゃそう</string>
	<string>しゃたい</string>
	<string>しゃちょう</string>
	<string>しゃっきん</string>
	<string>じゃま</string>
	<string>しゃりん</string>
	<string>しゃれい</string>
	<string>じゆう</string>
	<string>じゅうしょ</string>
	<string>しゅくはく</string>
	<string>じゅしん</string>
	<string>しゅっせき</string>
	<string>しゅみ</string>
	<string>しゅらば</string>
	<string>じゅんばん</string>
	<string>しょうかい</string>
	<string>しょくたく</string>
	<string>しょっけん</string>
	<string>しょどう</string>
	<string>しょもつ</string>
	<string>しらせる</string>
	<string>しらべる</string>
	<string>しんか</string>
	<string>しんこう</string>
	<string>じんじゃ</string>
	<string>しんせいじ</string>
	<string>しんちく</string>
	<string>しんりん</string>
	<string>すあげ</string>
	<string>すあし</string>
	<string>すあな</string>
	<string>ずあん</string>
	<string>すいえい</string>
	<string>すいか</string>
	<string>すいとう</string>
	<string>ずいぶん</string>
	<string>すいようび</string>
	<string>すうがく</string>
	<string>すうじつ</string>
	<string>すうせん</string>
	<string>すおどり</string>
	<string>すきま</string>
	<string>すくう</string>
	<string>すくない</string>
	<string>すける</string>
	<string>すごい</string>
	<string>すこし</string>
	<string>ずさん</string>
	<string>すずしい</string>
	<string>すすむ</string>
	<string>すすめる</string>
	<string>すっかり</string>
	<string>ずっしり</string>
	<string>ずっと</string>
	<string>すてき</string>
	<string>すてる</string>
	<string>すねる</string>
	<string>すのこ</string>
	<string>すはだ</string>
	<string>すばらしい</string>
	<string>ずひょう</string>
	<string>ずぶぬれ</string>
	<string>すぶり</string>
	<string>すふれ</string>
	<string>すべて</string>
	<string>すべる</string>
	<string>ずほう</string>
	<string>すぼん</string>
	<string>すまい</string>
	<string>すめし</string>
	<string>すもう</string>
	<string>すやき</string>
	<string>すらすら</string>
	<string>するめ</string>
	<string>すれちがう</string>
	<string>すろっと</string>
	<string>すわる</string>
	<string>すんぜん</string>
	<string>すんぽう</string>
	<string>せあぶら</string>
	<string>せいかつ</string>
	<string>せいげん</string>
	<string>せいじ</string>
	<string>せいよう</string>
	<string>せおう</string>
	<string>せかいかん</string>
	<string>せきにん</string>
	<string>せきむ</string>
	<string>せきゆ</string>
	<string>せきらんうん</string>
	<string>せけん</string>
	<string>せこう</string>
	<string>せすじ</string>
	<string>せたい</string>
	<string>せたけ</string>
	<string>せっかく</string>
	<string>せっきゃく</string>
	<string>ぜっく</string>
	<string>せっけん</string>
	<string>せっこつ</string>
	<string>せっさたくま</string>
	<string>せつぞく</string>
	<string>せつだん</string>
	<string>せつでん</string>
	<string>せっぱん</string>
	<string>せつび</string>
	<string>せつぶん</string>
	<string>せつめい</string>
	<string>せつりつ</string>
	<string>せなか</string>
	<string>せのび</string>
	<string>せはば</string>
	<string>せびろ</string>
	<string>せぼね</string>
	<string>せまい</string>
	<string>せまる</string>
	<string>せめる</string>
	<string>せもたれ</string>
	<string>せりふ</string>
	<string>ぜんあく</string>
	<string>せんい</string>
	<string>せんえい</string>
	<string>せんか</string>
	<string>せんきょ</string>
	<string>せんく</string>
	<string>せんげん</string>
	<string>ぜんご</string>
	<string>せんさい</string>
	<string>せんしゅ</string>
	<string>せんすい</string>
	<string>せんせい</string>
	<string>せんぞ</string>
	<string>せんたく</string>
	<string>せんちょう</string>
	<string>せんてい</string>
	<string>せんとう</string>
	<string>せんぬき</string>
	<string>せんねん</string>
	<string>せんぱい</string>
	<string>ぜんぶ</string>
	<string>ぜんぽう</string>
	<string>せんむ</string>
	<string>せんめんじょ</string>
	<string>せんもん</string>
	<string>せんやく</string>
	<string>せんゆう</string>
	<string>せんよう</string>
	<string>ぜんら</string>
	<string>ぜんりゃく</string>
	<string>せんれい</string>
	<string>せんろ</string>
	<string>そあく</string>
	<string>そいとげる</string>
	<string>そいね</string>
	<string>そうがんきょう</string>
	<string>そうき</string>
	<string>そうご</string>
	<string>そうしん</string>
	<string>そうだん</string>
	<string>そうなん</string>
	<string>そうび</string>
	<string>そうめん</string>
	<string>そうり</string>
	<string>そえもの</string>
	<string>そえん</string>
	<string>そがい</string>
	<string>そげき</string>
	<string>そこう</string>
	<string>そこそこ</string>
	<string>そざい</string>
	<string>そしな</string>
	<string>そせい</string>
	<string>そせん</string>
	<string>そそぐ</string>
	<string>そだてる</string>
	<string>そつう</string>
	<string>そつえん</string>
	<string>そっかん</string>
	<string>そつぎょう</string>
	<string>そっけつ</string>
	<string>そっこう</string>
	<string>そっせん</string>
	<string>そっと</string>
	<string>そとがわ</string>
	<string>そとづら</string>
	<string>そなえる</string>
	<string>そなた</string>
	<string>そふぼ</string>
	<string>そぼく</string>
	<string>そぼろ</string>
	<string>そまつ</string>
	<string>そまる</string>
	<string>そむく</string>
	<string>そむりえ</string>
	<string>そめる</string>
	<string>そもそも</string>
	<string>そよかぜ</string>
	<string>そらまめ</string>
	<string>そろう</string>
	<string>そんかい</string>
	<string>そんけい</string>
	<string>そんざい</string>
	<string>そんしつ</string>
	<string>そんぞく</string>
	<string>そんちょう</string>
	<string>ぞんび</string>
	<string>ぞんぶん</string>
	<string>そんみん</string>
	<string>たあい</string>
	<string>たいいん</string>
	<string>たいうん</string>
	<string>たいえき</string>
	<string>たいおう</string>
	<string>だいがく</string>
	<string>たいき</string>
	<string>たいぐう</string>
	<string>たいけん</string>
	<string>たいこ</string>
	<string>たいざい</string>
	<string>だいじょうぶ</string>
	<string>だいすき</string>
	<string>たいせつ</string>
	<string>たいそう</string>
	<string>だいたい</string>
	<string>たいちょう</string>
	<string>たいてい</string>
	<string>だいどころ</string>
	<string>たいない</string>
	<string>たいねつ</string>
	<string>たいのう</string>
	<string>たいはん</string>
	<string>だいひょう</string>
	<string>たいふう</string>
	<string>たいへん</string>
	<string>たいほ</string>
	<string>たいまつばな</string>
	<string>たいみんぐ</string>
	<string>たいむ</string>
	<string>たいめん</string>
	<string>たいやき</string>
	<string>たいよう</string>
	<string>たいら</string>
	<string>たいりょく</string>
	<string>たいる</string>
	<string>たいわん</string>
	<string>たうえ</string>
	<string>たえる</string>
	<string>たおす</string>
	<string>たおる</string>
	<string>たおれる</string>
	<string>たかい</string>
	<string>たかね</string>
	<string>たきび</string>
	<string>たくさん</string>
	<string>たこく</string>
	<string>たこやき</string>
	<string>たさい</string>
	<string>たしざん</string>
	<string>だじゃれ</string>
	<string>たすける</string>
	<string>たずさわる</string>
	<string>たそがれ</string>
	<string>たたかう</string>
	<string>たたく</string>
	<string>ただしい</string>
	<string>たたみ</string>
	<string>たちばな</string>
	<string>だっかい</string>
	<string>だっきゃく</string>
	<string>だっこ</string>
	<string>だっしゅつ</string>
	<string>だったい</string>
	<string>たてる</string>
	<string>たとえる</string>
	<string>たなばた</string>
	<string>たにん</string>
	<string>たぬき</string>
	<string>たのしみ</string>
	<string>たはつ</string>
	<string>たぶん</string>
	<string>たべる</string>
	<string>たぼう</string>
	<string>たまご</string>
	<string>たまる</string>
	<string>だむる</string>
	<string>ためいき</string>
	<string>ためす</string>
	<string>ためる</string>
	<string>たもつ</string>
	<string>たやすい</string>
	<string>たよる</string>
	<string>たらす</string>
	<string>たりきほんがん</string>
	<string>たりょう</string>
	<string>たりる</string>
	<string>たると</string>
	<string>たれる</string>
	<string>たれんと</string>
	<string>たろっと</string>
	<string>たわむれる</string>
	<string>だんあつ</string>
	<string>たんい</string>
	<string>たんおん</string>
	<string>たんか</string>
	<string>たんき</string>
	<string>たんけん</string>
	<string>たんご</string>
	<string>たんさん</string>
	<string>たんじょうび</string>
	<string>だんせい</string>
	<string>たんそく</string>
	<string>たんたい</string>
	<string>だんち</string>
	<string>たんてい</string>
	<string>たんとう</string>
	<string>だんな</string>
	<string>たんにん</string>
	<string>だんねつ</string>
	<string>たんのう</string>
	<string>たんぴん</string>
	<string>だんぼう</string>
	<string>たんまつ</string>
	<string>たんめい</string>
	<string>だんれつ</string>
	<string>だんろ</string>
	<string>だんわ</string>
	<string>ちあい</string>
	<string>ちあん</string>
	<string>ちいき</string>
	<string>ちいさい</string>
	<string>ちえん</string>
	<string>ちかい</string>
	<string>ちから</string>
	<string>ちきゅう</string>
	<string>ちきん</string>
	<string>ちけいず</string>
	<string>ちけん</string>
	<string>ちこく</string>
	<string>ちさい</string>
	<string>ちしき</string>
	<string>ちしりょう</string>
	<string>ちせい</string>
	<string>ちそう</string>
	<string>ちたい</string>
	<string>ちたん</string>
	<string>ちちおや</string>
	<string>ちつじょ</string>
	<string>ちてき</string>
	<string>ちてん</string>
	<string>ちぬき</string>
	<string>ちぬり</string>
	<string>ちのう</string>
	<string>ちひょう</string>
	<string>ちへいせん</string>
	<string>ちほう</string>
	<string>ちまた</string>
	<string>ちみつ</string>
	<string>ちみどろ</string>
	<string>ちめいど</string>
	<string>ちゃんこなべ</string>
	<string>ちゅうい</string>
	<string>ちゆりょく</string>
	<string>ちょうし</string>
	<string>ちょさくけん</string>
	<string>ちらし</string>
	<string>ちらみ</string>
	<string>ちりがみ</string>
	<string>ちりょう</string>
	<string>ちるど</string>
	<string>ちわわ</string>
	<string>ちんたい</string>
	<string>ちんもく</string>
	<string>ついか</string>
	<string>ついたち</string>
	<string>つうか</string>
	<string>つうじょう</string>
	<string>つうはん</string>
	<string>つうわ</string>
	<string>つかう</string>
	<string>つかれる</string>
	<string>つくね</string>
	<string>つくる</string>
	<string>つけね</string>
	<string>つける</string>
	<string>つごう</string>
	<string>つたえる</string>
	<string>つづく</string>
	<string>つつじ</string>
	<string>つつむ</string>
	<string>つとめる</string>
	<string>つながる</string>
	<string>つなみ</string>
	<string>つねづね</string>
	<string>つのる</string>
	<string>つぶす</string>
	<string>つまらない</string>
	<string>つまる</string>
	<string>つみき</string>
	<string>つめたい</string>
	<string>つもり</string>
	<string>つもる</string>
	<string>つよい</string>
	<string>つるぼ</string>
	<string>つるみく</string>
	<string>つわもの</string>
	<string>つわり</string>
	<string>てあし</string>
	<string>てあて</string>
	<string>てあみ</string>
	<string>ていおん</string>
	<string>ていか</string>
	<string>ていき</string>
	<string>ていけい</string>
	<string>ていこく</string>
	<string>ていさつ</string>
	<string>ていし</string>
	<string>ていせい</string>
	<string>ていたい</string>
	<string>ていど</string>
	<string>ていねい</string>
	<string>ていひょう</string>
	<string>ていへん</string>
	<string>ていぼう</string>
	<string>てうち</string>
	<string>ておくれ</string>
	<string>てきとう</string>
	<string>てくび</string>
	<string>でこぼこ</string>
	<string>てさぎょう</string>
	<string>てさげ</string>
	<string>てすり</string>
	<string>てそう</string>
	<string>てちがい</string>
	<string>てちょう</string>
	<string>てつがく</string>
	<string>てつづき</string>
	<string>でっぱ</string>
	<string>てつぼう</string>
	<string>てつや</string>
	<string>でぬかえ</string>
	<string>てぬき</string>
	<string>てぬぐい</string>
	<string>てのひら</string>
	<string>てはい</string>
	<string>てぶくろ</string>
	<string>てふだ</string>
	<string>てほどき</string>
	<string>てほん</string>
	<string>てまえ</string>
	<string>てまきずし</string>
	<string>てみじか</string>
	<string>てみやげ</string>
	<string>てらす</string>
	<string>てれび</string>
	<string>てわけ</string>
	<string>てわたし</string>
	<string>でんあつ</string>
	<string>てんいん</string>
	<string>てんかい</string>
	<string>てんき</string>
	<string>てんぐ</string>
	<string>てんけん</string>
	<string>てんごく</string>
	<string>てんさい</string>
	<string>てんし</string>
	<string>てんすう</string>
	<string>でんち</string>
	<string>てんてき</string>
	<string>てんとう</string>
	<string>てんない</string>
	<string>てんぷら</string>
	<string>てんぼうだい</string>
	<string>てんめつ</string>
	<string>てんらんかい</string>
	<string>でんりょく</string>
	<string>でんわ</string>
	<string>どあい</string>
	<string>といれ</string>
	<string>どうかん</string>
	<string>とうきゅう</string>
	<string>どうぐ</string>
	<string>とうし</string>
	<string>とうむぎ</string>
	<string>とおい</string>
	<string>とおか</string>
	<string>とおく</string>
	<string>とおす</string>
	<string>とおる</string>
	<string>とかい</string>
	<string>とかす</string>
	<string>ときおり</string>
	<string>ときどき</string>
	<string>とくい</string>
	<string>とくしゅう</string>
	<string>とくてん</string>
	<string>とくに</string>
	<string>とくべつ</string>
	<string>とけい</string>
	<string>とける</string>
	<string>とこや</string>
	<string>とさか</string>
	<string>としょかん</string>
	<string>とそう</string>
	<string>とたん</string>
	<string>とちゅう</string>
	<string>とっきゅう</string>
	<string>とっくん</string>
	<string>とつぜん</string>
	<string>とつにゅう</string>
	<string>とどける</string>
	<string>ととのえる</string>
	<string>とない</string>
	<string>となえる</string>
	<string>となり</string>
	<string>とのさま</string>
	<string>とばす</string>
	<string>どぶがわ</string>
	<string>とほう</string>
	<string>とまる</string>
	<string>とめる</string>
	<string>ともだち</string>
	<string>ともる</string>
	<string>どようび</string>
	<string>とらえる</string>
	<string>とんかつ</string>
	<string>どんぶり</string>
	<string>ないかく</string>
	<string>ないこう</string>
	<string>ないしょ</string>
	<string>ないす</string>
	<string>ないせん</string>
	<string>ないそう</string>
	<string>なおす</string>
	<string>ながい</string>
	<string>なくす</string>
	<string>なげる</string>
	<string>なこうど</string>
	<string>なさけ</string>
	<string>なたでここ</string>
	<string>なっとう</string>
	<string>なつやすみ</string>
	<string>ななおし</string>
	<string>なにごと</string>
	<string>なにもの</string>
	<string>なにわ</string>
	<string>なのか</string>
	<string>なふだ</string>
	<string>なまいき</string>
	<string>なまえ</string>
	<string>なまみ</string>
	<string>なみだ</string>
	<string>なめらか</string>
	<string>なめる</string>
	<string>なやむ</string>
	<string>ならう</string>
	<string>ならび</string>
	<string>ならぶ</string>
	<string>なれる</string>
	<string>なわとび</string>
	<string>なわばり</string>
	<string>にあう</string>
	<string>にいがた</string>
	<string>にうけ</string>
	<string>におい</string>
	<string>にかい</string>
	<string>にがて</string>
	<string>にきび</string>
	<string>にくしみ</string>
	<string>にくまん</string>
	<string>にげる</string>
	<string>にさんかたんそ</string>
	<string>にしき</string>
	<string>にせもの</string>
	<string>にちじょう</string>
	<string>にちようび</string>
	<string>にっか</string>
	<string>にっき</string>
	<string>にっけい</string>
	<string>にっこう</string>
	<string>にっさん</string>
	<string>にっしょく</string>
	<string>にっすう</string>
	<string>にっせき</string>
	<string>にってい</string>
	<string>になう</string>
	<string>にほん</string>
	<string>にまめ</string>
	<string>にもつ</string>
	<string>にやり</string>
	<string>にゅういん</string>
	<string>にりんしゃ</string>
	<string>にわとり</string>
	<string>にんい</string>
	<string>にんか</string>
	<string>にんき</string>
	<string>にんげん</string>
	<string>にんしき</string>
	<string>にんずう</string>
	<string>にんそう</string>
	<string>にんたい</string>
	<string>にんち</string>
	<string>にんてい</string>
	<string>にんにく</string>
	<string>にんぷ</string>
	<string>にんまり</string>
	<string>にんむ</string>
	<string>にんめい</string>
	<string>にんよう</string>
	<string>ぬいくぎ</string>
	<string>ぬかす</string>
	<string>ぬぐいとる</string>
	<string>ぬぐう</string>
	<string>ぬくもり</string>
	<string>ぬすむ</string>
	<string>ぬまえび</string>
	<string>ぬめり</string>
	<string>ぬらす</string>
	<string>ぬんちゃく</string>
	<string>ねあげ</string>
	<string>ねいき</string>
	<string>ねいる</string>
	<string>ねいろ</string>
	<string>ねぐせ</string>
	<string>ねくたい</string>
	<string>ねくら</string>
	<string>ねこぜ</string>
	<string>ねこむ</string>
	<string>ねさげ</string>
	<string>ねすごす</string>
	<string>ねそべる</string>
	<string>ねだん</string>
	<string>ねつい</string>
	<string>ねっしん</string>
	<string>ねつぞう</string>
	<string>ねったいぎょ</string>
	<string>ねぶそく</string>
	<string>ねふだ</string>
	<string>ねぼう</string>
	<string>ねほりはほり</string>
	<string>ねまき</string>
	<string>ねまわし</string>
	<string>ねみみ</string>
	<string>ねむい</string>
	<string>ねむたい</string>
	<string>ねもと</string>
	<string>ねらう</string>
	<string>ねわざ</string>
	<string>ねんいり</string>
	<string>ねんおし</string>
	<string>ねんかん</string>
	<string>ねんきん</string>
	<string>ねんぐ</string>
	<string>ねんざ</string>
	<string>ねんし</string>
	<string>ねんちゃく</string>
	<string>ねんど</string>
	<string>ねんぴ</string>
	<string>ねんぶつ</string>
	<string>ねんまつ</string>
	<string>ねんりょう</string>
	<string>ねんれい</string>
	<string>のいず</string>
	<string>のおづま</string>
	<string>のがす</string>
	<string>のきなみ</string>
	<string>のこぎり</string>
	<string>のこす</string>
	<string>のこる</string>
	<string>のせる</string>
	<string>のぞく</string>
	<string>のぞむ</string>
	<string>のたまう</string>
	<string>のちほど</string>
	<string>のっく</string>
	<string>のばす</string>
	<string>のはら</string>
	<string>のべる</string>
	<string>のぼる</string>
	<string>のみもの</string>
	<string>のやま</string>
	<string>のらいぬ</string>
	<string>のらねこ</string>
	<string>のりもの</string>
	<string>のりゆき</string>
	<string>のれん</string>
	<string>のんき</string>
	<string>ばあい</string>
	<string>はあく</string>
	<string>ばあさん</string>
	<string>ばいか</string>
	<string>ばいく</string>
	<string>はいけん</string>
	<string>はいご</string>
	<string>はいしん</string>
	<string>はいすい</string>
	<string>はいせん</string>
	<string>はいそう</string>
	<string>はいち</string>
	<string>ばいばい</string>
	<string>はいれつ</string>
	<string>はえる</string>
	<string>はおる</string>
	<string>はかい</string>
	<string>ばかり</string>
	<string>はかる</string>
	<string>はくしゅ</string>
	<string>はけん</string>
	<string>はこぶ</string>
	<string>はさみ</string>
	<string>はさん</string>
	<string>はしご</string>
	<string>ばしょ</string>
	<string>はしる</string>
	<string>はせる</string>
	<string>ぱそこん</string>
	<string>はそん</string>
	<string>はたん</string>
	<string>はちみつ</string>
	<string>はつおん</string>
	<string>はっかく</string>
	<string>はづき</string>
	<string>はっきり</string>
	<string>はっくつ</string>
	<string>はっけん</string>
	<string>はっこう</string>
	<string>はっさん</string>
	<string>はっしん</string>
	<string>はったつ</string>
	<string>はっちゅう</string>
	<string>はってん</string>
	<string>はっぴょう</string>
	<string>はっぽう</string>
	<string>はなす</string>
	<string>はなび</string>
	<string>はにかむ</string>
	<string>はぶらし</string>
	<string>はみがき</string>
	<string>はむかう</string>
	<string>はめつ</string>
	<string>はやい</string>
	<string>はやし</string>
	<string>はらう</string>
	<string>はろうぃん</string>
	<string>はわい</string>
	<string>はんい</string>
	<string>はんえい</string>
	<string>はんおん</string>
	<string>はんかく</string>
	<string>はんきょう</string>
	<string>ばんぐみ</string>
	<string>はんこ</string>
	<string>はんしゃ</string>
	<string>はんすう</string>
	<string>はんだん</string>
	<string>ぱんち</string>
	<string>ぱんつ</string>
	<string>はんてい</string>
	<string>はんとし</string>
	<string>はんのう</string>
	<string>はんぱ</string>
	<string>はんぶん</string>
	<string>はんぺん</string>
	<string>はんぼうき</string>
	<string>はんめい</string>
	<string>はんらん</string>
	<string>はんろん</string>
	<string>ひいき</string>
	<string>ひうん</string>
	<string>ひえる</string>
	<string>ひかく</string>
	<string>ひかり</string>
	<string>ひかる</string>
	<string>ひかん</string>
	<string>ひくい</string>
	<string>ひけつ</string>
	<string>ひこうき</string>
	<string>ひこく</string>
	<string>ひさい</string>
	<string>ひさしぶり</string>
	<string>ひさん</string>
	<string>びじゅつかん</string>
	<string>ひしょ</string>
	<string>ひそか</string>
	<string>ひそむ</string>
	<string>ひたむき</string>
	<string>ひだり</string>
	<string>ひたる</string>
	<string>ひつぎ</string>
	<string>ひっこし</string>
	<string>ひっし</string>
	<string>ひつじゅひん</string>
	<string>ひっす</string>
	<string>ひつぜん</string>
	<string>ぴったり</string>
	<string>ぴっちり</string>
	<string>ひつよう</string>
	<string>ひてい</string>
	<string>ひとごみ</string>
	<string>ひなまつり</string>
	<string>ひなん</string>
	<string>ひねる</string>
	<string>ひはん</string>
	<string>ひびく</string>
	<string>ひひょう</string>
	<string>ひほう</string>
	<string>ひまわり</string>
	<string>ひまん</string>
	<string>ひみつ</string>
	<string>ひめい</string>
	<string>ひめじし</string>
	<string>ひやけ</string>
	<string>ひやす</string>
	<string>ひよう</string>
	<string>びょうき</string>
	<string>ひらがな</string>
	<string>ひらく</string>
	<string>ひりつ</string>
	<string>ひりょう</string>
	<string>ひるま</string>
	<string>ひるやすみ</string>
	<string>ひれい</string>
	<string>ひろい</string>
	<string>ひろう</string>
	<string>ひろき</string>
	<string>ひろゆき</string>
	<string>ひんかく</string>
	<string>ひんけつ</string>
	<string>ひんこん</string>
	<string>ひんしゅ</string>
	<string>ひんそう</string>
	<string>ぴんち</string>
	<string>ひんぱん</string>
	<string>びんぼう</string>
	<string>ふあん</string>
	<string>ふいうち</string>
	<string>ふうけい</string>
	<string>ふうせん</string>
	<string>ぷうたろう</string>
	<string>ふうとう</string>
	<string>ふうふ</string>
	<string>ふえる</string>
	<string>ふおん</string>
	<string>ふかい</string>
	<string>ふきん</string>
	<string>ふくざつ</string>
	<string>ふくぶくろ</string>
	<string>ふこう</string>
	<string>ふさい</string>
	<string>ふしぎ</string>
	<string>ふじみ</string>
	<string>ふすま</string>
	<string>ふせい</string>
	<string>ふせぐ</string>
	<string>ふそく</string>
	<string>ぶたにく</string>
	<string>ふたん</string>
	<string>ふちょう</string>
	<string>ふつう</string>
	<string>ふつか</string>
	<string>ふっかつ</string>
	<string>ふっき</string>
	<string>ふっこく</string>
	<string>ぶどう</string>
	<string>ふとる</string>
	<string>ふとん</string>
	<string>ふのう</string>
	<string>ふはい</string>
	<string>ふひょう</string>
	<string>ふへん</string>
	<string>ふまん</string>
	<string>ふみん</string>
	<string>ふめつ</string>
	<string>ふめん</string>
	<string>ふよう</string>
	<string>ふりこ</string>
	<string>ふりる</string>
	<string>ふるい</string>
	<string>ふんいき</string>
	<string>ぶんがく</string>
	<string>ぶんぐ</string>
	<string>ふんしつ</string>
	<string>ぶんせき</string>
	<string>ふんそう</string>
	<string>ぶんぽう</string>
	<string>へいあん</string>
	<string>へいおん</string>
	<string>へいがい</string>
	<string>へいき</string>
	<string>へいげん</string>
	<string>へいこう</string>
	<string>へいさ</string>
	<string>へいしゃ</string>
	<string>へいせつ</string>
	<string>へいそ</string>
	<string>へいたく</string>
	<string>へいてん</string>
	<string>へいねつ</string>
	<string>へいわ</string>
	<string>へきが</string>
	<string>へこむ</string>
	<string>べにいろ</string>
	<string>べにしょうが</string>
	<string>へらす</string>
	<string>へんかん</string>
	<string>べんきょう</string>
	<string>べんごし</string>
	<string>へんさい</string>
	<string>へんたい</string>
	<string>べんり</string>
	<string>ほあん</string>
	<string>ほいく</string>
	<string>ぼうぎょ</string>
	<string>ほうこく</string>
	<string>ほうそう</string>
	<string>ほうほう</string>
	<string>ほうもん</string>
	<string>ほうりつ</string>
	<string>ほえる</string>
	<string>ほおん</string>
	<string>ほかん</string>
	<string>ほきょう</string>
	<string>ぼきん</string>
	<string>ほくろ</string>
	<string>ほけつ</string>
	<string>ほけん</string>
	<string>ほこう</string>
	<string>ほこる</string>
	<string>ほしい</string>
	<string>ほしつ</string>
	<string>ほしゅ</string>
	<string>ほしょう</string>
	<string>ほせい</string>
	<string>ほそい</string>
	<string>ほそく</string>
	<string>ほたて</string>
	<string>ほたる</string>
	<string>ぽちぶくろ</string>
	<string>ほっきょく</string>
	<string>ほっさ</string>
	<string>ほったん</string>
	<string>ほとんど</string>
	<string>ほめる</string>
	<string>ほんい</string>
	<string>ほんき</string>
	<string>ほんけ</string>
	<string>ほんしつ</string>
	<string>ほんやく</string>
	<string>まいにち</string>
	<string>まかい</string>
	<string>まかせる</string>
	<string>まがる</string>
	<string>まける</string>
	<string>まこと</string>
	<string>まさつ</string>
	<string>まじめ</string>
	<string>ますく</string>
	<string>まぜる</string>
	<string>まつり</string>
	<string>まとめ</string>
	<string>まなぶ</string>
	<string>まぬけ</string>
	<string>まねく</string>
	<string>まほう</string>
	<string>まもる</string>
	<string>まゆげ</string>
	<string>まよう</string>
	<string>まろやか</string>
	<string>まわす</string>
	<string>まわり</string>
	<string>まわる</string>
	<string>まんが</string>
	<string>まんきつ</string>
	<string>まんぞく</string>
	<string>まんなか</string>
	<string>みいら</string>
	<string>みうち</string>
	<string>みえる</string>
	<string>みがく</string>
	<string>みかた</string>
	<string>みかん</string>
	<string>みけん</string>
	<string>みこん</string>
	<string>みじかい</string>
	<string>みすい</string>
	<string>みすえる</string>
	<string>みせる</string>
	<string>みっか</string>
	<string>みつかる</string>
	<string>みつける</string>
	<string>みてい</string>
	<string>みとめる</string>
	<string>みなと</string>
	<string>みなみかさい</string>
	<string>みねらる</string>
	<string>みのう</string>
	<string>みのがす</string>
	<string>みほん</string>
	<string>みもと</string>
	<string>みやげ</string>
	<string>みらい</string>
	<string>みりょく</string>
	<string>みわく</string>
	<string>みんか</string>
	<string>みんぞく</string>
	<string>むいか</string>
	<string>むえき</string>
	<string>むえん</string>
	<string>むかい</string>
	<string>むかう</string>
	<string>むかえ</string>
	<string>むかし</string>
	<string>むぎちゃ</string>
	<string>むける</string>
	<string>むげん</string>
	<string>むさぼる</string>
	<string>むしあつい</string>
	<string>むしば</string>
	<string>むじゅん</string>
	<string>むしろ</string>
	<string>むすう</string>
	<string>むすこ</string>
	<string>むすぶ</string>
	<string>むすめ</string>
	<string>むせる</string>
	<string>むせん</string>
	<string>むちゅう</string>
	<string>むなしい</string>
	<string>むのう</string>
	<string>むやみ</string>
	<string>むよう</string>
	<string>むらさき</string>
	<string>むりょう</string>
	<string>むろん</string>
	<string>めいあん</string>
	<string>めいうん</string>
	<string>めいえん</string>
	<string>めいかく</string>
	<string>めいきょく</string>
	<string>めいさい</string>
	<string>めいし</string>
	<string>めいそう</string>
	<string>めいぶつ</string>
	<string>めいれい</string>
	<string>めいわく</string>
	<string>めぐまれる</string>
	<string>めざす</string>
	<string>めした</string>
	<string>めずらしい</string>
	<string>めだつ</string>
	<string>めまい</string>
	<string>めやす</string>
	<string>めんきょ</string>
	<string>めんせき</string>
	<string>めんどう</string>
	<string>もうしあげる</string>
	<string>もうどうけん</string>
	<string>もえる</string>
	<string>もくし</string>
	<string>もくてき</string>
	<string>もくようび</string>
	<string>もちろん</string>
	<string>もどる</string>
	<string>もらう</string>
	<string>もんく</string>
	<string>もんだい</string>
	<string>やおや</string>
	<string>やける</string>
	<string>やさい</string>
	<string>やさしい</string>
	<string>やすい</string>
	<string>やすたろう</string>
	<string>やすみ</string>
	<string>やせる</string>
	<string>やそう</string>
	<string>やたい</string>
	<string>やちん</string>
	<string>やっと</string>
	<string>やっぱり</string>
	<string>やぶる</string>
	<string>やめる</string>
	<string>ややこしい</string>
	<string>やよい</string>
	<string>やわらかい</string>
	<string>ゆうき</string>
	<string>ゆうびんきょく</string>
	<string>ゆうべ</string>
	<string>ゆうめい</string>
	<string>ゆけつ</string>
	<string>ゆしゅつ</string>
	<string>ゆせん</string>
	<string>ゆそう</string>
	<string>ゆたか</string>
	<string>ゆちゃく</string>
	<string>ゆでる</string>
	<string>ゆにゅう</string>
	<string>ゆびわ</string>
	<string>ゆらい</string>
	<string>ゆれる</string>
	<string>ようい</string>
	<string>ようか</string>
	<string>ようきゅう</string>
	<string>ようじ</string>
	<string>ようす</string>
	<string>ようちえん</string>
	<string>よかぜ</string>
	<string>よかん</string>
	<string>よきん</string>
	<string>よくせい</string>
	<string>よくぼう</string>
	<string>よけい</string>
	<string>よごれる</string>
	<string>よさん</string>
	<string>よしゅう</string>
	<string>よそう</string>
	<string>よそく</string>
	<string>よっか</string>
	<string>よてい</string>
	<string>よどがわく</string>
	<string>よねつ</string>
	<string>よやく</string>
	<string>よゆう</string>
	<string>よろこぶ</string>
	<string>よろしい</string>
	<string>らいう</string>
	<string>らくがき</string>
	<string>らくご</string>
	<string>らくさつ</string>
	<string>らくだ</string>
	<string>らしんばん</string>
	<string>らせん</string>
	<string>らぞく</string>
	<string>らたい</string>
	<string>らっか</string>
	<string>られつ</string>
	<string>りえき</string>
	<string>りかい</string>
	<string>りきさく</string>
	<string>りきせつ</string>
	<string>りくぐん</string>
	<string>りくつ</string>
	<string>りけん</string>
	<string>りこう</string>
	<string>りせい</string>
	<string>りそう</string>
	<string>りそく</string>
	<string>りてん</string>
	<string>りねん</string>
	<string>りゆう</string>
	<string>りゅうがく</string>
	<string>りよう</string>
	<string>りょうり</string>
	<string>りょかん</string>
	<string>りょくちゃ</string>
	<string>りょこう</string>
	<string>りりく</string>
	<string>りれき</string>
	<string>りろん</string>
	<string>りんご</string>
	<string>るいけい</string>
	<string>るいさい</string>
	<string>るいじ</string>
	<string>るいせき</string>
	<string>るすばん</string>
	<string>るりがわら</string>
	<string>れいかん</string>
	<string>れいぎ</string>
	<string>れいせい</string>
	<string>れいぞうこ</string>
	<string>れいとう</string>
	<string>れいぼう</string>
	<string>れきし</string>
	<string>れきだい</string>
	<string>れんあい</string>
	<string>れんけい</string>
	<string>れんこん</string>
	<string>れんさい</string>
	<string>れんしゅう</string>
	<string>れんぞく</string>
	<string>れんらく</string>
	<string>ろうか</string>
	<string>ろうご</string>
	<string>ろうじん</string>
	<string>ろうそく</string>
	<string>ろくが</string>
	<string>ろこつ</string>
	<string>ろじうら</string>
	<string>ろしゅつ</string>
	<string>ろせん</string>
	<string>ろてん</string>
	<string>ろめん</string>
	<string>ろれつ</string>
	<string>ろんぎ</string>
	<string>ろんぱ</string>
	<string>ろんぶん</string>
	<string>ろんり</string>
	<string>わかす</string>
	<string>わかめ</string>
	<string>わかやま</string>
	<string>わかれる</string>
	<string>わしつ</string>
	<string>わじまし</string>
	<string>わすれもの</string>
	<string>わらう</string>
	<string>われる</string>
</array>
</plist>
